In [1]:
import pandas as pd

In [2]:
import pandas as pd

# Specify the path to your Excel file
data = r"C:\Users\hp\OneDrive\Pictures\guvi certificates\Car Dheko - Used Car Price Prediction\structure format\cars_eda.csv"

# Read the Excel file and display the first few rows
car_df = pd.read_csv(data)  # Using openpyxl to read .xlsx files
print(car_df.head())
#df1_bangalore

    bodytype  seats     kms  modelYear fueltype  ownerNo transmission   price  \
0  Hatchback      5  120000       2015   Petrol        3       Manual  400000
1        SUV      5   32706       2018   Petrol        2       Manual  811000
2  Hatchback      5   11949       2018   Petrol        1       Manual  585000
3      Sedan      5   17794       2014   Petrol        1       Manual  462000
4        SUV      5   60000       2015   Diesel        1       Manual  790000

       Insurance  engine_cc      oem  Gearbox  Mileage DriveType       city  \
0    Third Party        998   Maruti        5    23.10       FWD  Bangalore
1  Comprehensive       1497     Ford        5    17.00       FWD  Bangalore
2  Comprehensive       1199     Tata        5    23.84       FWD  Bangalore
3  Comprehensive       1197  Hyundai        5    19.10       FWD  Bangalore
4    Third Party       1248   Maruti        5    23.65       FWD  Bangalore

                model
0      Maruti Celerio
1       Ford Ecosport
2          Tata Tiago
3       Hyundai Xcent
4  Maruti SX4 S Cross

In [3]:
car_df.shape

(6036, 16)

### LABEL ENCODING

In [4]:
car_df.head()

,bodytype,seats,kms,modelYear,fueltype,ownerNo,transmission,price,Insurance,engine_cc,oem,Gearbox,Mileage,DriveType,city,model
0,Hatchback,5,120000,2015,Petrol,3,Manual,400000,Third Party,998,Maruti,5,23.10,FWD,Bangalore,Maruti Celerio
1,SUV,5,32706,2018,Petrol,2,Manual,811000,Comprehensive,1497,Ford,5,17.00,FWD,Bangalore,Ford Ecosport
2,Hatchback,5,11949,2018,Petrol,1,Manual,585000,Comprehensive,1199,Tata,5,23.84,FWD,Bangalore,Tata Tiago
3,Sedan,5,17794,2014,Petrol,1,Manual,462000,Comprehensive,1197,Hyundai,5,19.10,FWD,Bangalore,Hyundai Xcent
4,SUV,5,60000,2015,Diesel,1,Manual,790000,Third Party,1248,Maruti,5,23.65,FWD,Bangalore,Maruti SX4 S Cross

# bodytype

In [5]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
# Fit and transform the categorical data
car_df['bodytype_encoded1'] = le.fit_transform(car_df['bodytype'])
# Display the encoded values using a for loop
d_bodytype={}
for  idx, (category, encoded) in enumerate(zip(car_df['bodytype'], car_df['bodytype_encoded1'])):
    if(category in d_bodytype.keys()):
        continue
    d_bodytype[category]=encoded
    print(f"{idx}: {category} -> {encoded}")

0: Hatchback -> 0
1: SUV -> 2
3: Sedan -> 3
538: Minivans -> 1
2446: Wagon -> 4

# fueltype

In [6]:
le = LabelEncoder()
# Fit and transform the categorical data
car_df['fueltype_encoded1'] = le.fit_transform(car_df['fueltype'])
# Display the encoded values using a for loop
d_fueltype={}
for  idx, (category, encoded) in enumerate(zip(car_df['fueltype'], car_df['fueltype_encoded1'])):
    if(category in d_fueltype.keys()):
        continue
    d_fueltype[category]=encoded
    print(f"{idx}: {category} -> {encoded}")

0: Petrol -> 3
4: Diesel -> 1
21: LPG -> 2
173: CNG -> 0

# trasmission

In [7]:
le = LabelEncoder()
# Fit and transform the categorical data
car_df['transmission_encoded1'] = le.fit_transform(car_df['transmission'])
# Display the encoded values using a for loop
d_transmission={}
for  idx, (category, encoded) in enumerate(zip(car_df['transmission'], car_df['transmission_encoded1'])):
    if(category in d_transmission.keys()):
        continue
    d_transmission[category]=encoded
    print(f"{idx}: {category} -> {encoded}")

0: Manual -> 1
6: Automatic -> 0

# Insurance

In [8]:
le = LabelEncoder()
# Fit and transform the categorical data
car_df['Insurance_encoded1'] = le.fit_transform(car_df['Insurance'])
# Display the encoded values using a for loop
d_Insurance={}
for  idx, (category, encoded) in enumerate(zip(car_df['Insurance'], car_df['Insurance_encoded1'])):
    if(category in d_Insurance.keys()):
        continue
    d_Insurance[category]=encoded
    print(f"{idx}: {category} -> {encoded}")

0: Third Party -> 2
1: Comprehensive -> 0
28: Zero Dep -> 3
971: Not Available -> 1

# oem

In [9]:
#from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
# Fit and transform the categorical data
car_df['oem_encoded1'] = le.fit_transform(car_df['oem'])
# Display the encoded values using a for loop
d_oem={}
for  idx, (category, encoded) in enumerate(zip(car_df['oem'], car_df['oem_encoded1'])):
    if(category in d_oem.keys()):
        continue
    d_oem[category]=encoded
    print(f"{idx}: {category} -> {encoded}")

0: Maruti -> 12
1: Ford -> 5
2: Tata -> 18
3: Hyundai -> 7
5: Datsun -> 3
11: Honda -> 6
17: Renault -> 16
32: Kia -> 9
40: Skoda -> 17
52: Volkswagen -> 20
60: Mahindra -> 11
69: Toyota -> 19
95: Nissan -> 15
129: Fiat -> 4
172: MG -> 10
264: Audi -> 0
341: Mercedes-Benz -> 13
393: Jeep -> 8
476: Chevrolet -> 1
603: Citroen -> 2
1656: Mini -> 14

# Drivetype

In [10]:
le = LabelEncoder()
# Fit and transform the categorical data
car_df['DriveType_encoded1'] = le.fit_transform(car_df['DriveType'])
# Display the encoded values using a for loop
d_drivetype={}
for  idx, (category, encoded) in enumerate(zip(car_df['DriveType'], car_df['DriveType_encoded1'])):
    if(category in d_drivetype.keys()):
        continue
    d_drivetype[category]=encoded
    print(f"{idx}: {category} -> {encoded}")

0: FWD -> 2
221: RWD -> 3
393: 4WD -> 0
998: AWD -> 1

# city

In [11]:
le = LabelEncoder()
# Fit and transform the categorical data
car_df['city_encoded1'] = le.fit_transform(car_df['city'])
# Display the encoded values using a for loop
d_city={}
for  idx, (category, encoded) in enumerate(zip(car_df['city'], car_df['city_encoded1'])):
    if(category in d_city.keys()):
        continue
    d_city[category]=encoded
    print(f"{idx}: {category} -> {encoded}")

0: Bangalore -> 0
1062: Chennai -> 1
2118: Delhi -> 2
3091: Hyderabad -> 3
4220: Jaipur -> 4
5013: Kolkata -> 5

# model

In [12]:
le = LabelEncoder()
# Fit and transform the categorical data
car_df['model_encoded1'] = le.fit_transform(car_df['model'])
# Display the encoded values using a for loop
d_city={}
for  idx, (category, encoded) in enumerate(zip(car_df['model'], car_df['model_encoded1'])):
    if(category in d_city.keys()):
        continue
    d_city[category]=encoded
    print(f"{idx}: {category} -> {encoded}")

0: Maruti Celerio -> 66
1: Ford Ecosport -> 20
2: Tata Tiago -> 120
3: Hyundai Xcent -> 43
4: Maruti SX4 S Cross -> 79
5: Datsun GO -> 8
6: Hyundai Venue -> 41
7: Maruti Ciaz -> 69
9: Maruti Baleno -> 63
10: Hyundai Grand i10 -> 37
11: Honda Jazz -> 29
13: Hyundai i20 -> 46
14: Tata Nexon -> 118
15: Honda City -> 27
16: Maruti Swift -> 80
17: Renault Duster -> 99
20: Hyundai Santro -> 39
21: Hyundai Santro Xing -> 40
23: Maruti Wagon R -> 84
29: Hyundai Elantra -> 35
30: Maruti Alto 800 -> 61
32: Kia Seltos -> 50
34: Maruti Alto -> 60
37: Renault KWID -> 101
40: Skoda Rapid -> 109
43: Hyundai Creta -> 33
49: Maruti Ritz -> 76
52: Volkswagen Polo -> 134
58: Hyundai i10 -> 45
60: Mahindra XUV300 -> 58
61: Honda Brio -> 26
63: Maruti Alto K10 -> 62
64: Renault Kiger -> 102
67: Hyundai EON -> 34
68: Volkswagen Vento -> 136
69: Toyota Yaris -> 130
83: Ford Figo -> 23
84: Maruti Ignis -> 75
92: Hyundai Verna -> 42
95: Nissan Terrano -> 97
107: Maruti Baleno RS -> 64
109: Renault Captur -> 98
110: Maruti Vitara Brezza -> 83
118: Maruti Swift Dzire -> 81
129: Fiat Linea -> 13
131: Hyundai i20 Active -> 47
140: Honda WR-V -> 30
146: Toyota Corolla Altis -> 124
164: Skoda Kushaq -> 106
168: Volkswagen Taigun -> 135
172: MG Astor -> 52
173: Hyundai Accent -> 31
216: Skoda Laura -> 107
259: Kia Sonet -> 51
264: Audi A4 -> 0
266: Mahindra Verito -> 57
269: Maruti S-Presso -> 77
275: Volkswagen Jetta -> 133
285: Datsun RediGO -> 9
288: Ford Aspire -> 19
299: Ford Freestyle -> 24
318: Tata Tigor -> 122
341: Mercedes-Benz A Class -> 87
344: Toyota Glanza -> 128
349: Nissan Magnite -> 93
375: Maruti Celerio X -> 68
384: Toyota Urban cruiser -> 129
393: Jeep Compass -> 49
434: Tata Altroz -> 112
437: Tata Indica V2 -> 115
447: Volkswagen Ameo -> 131
473: Fiat Punto Abarth -> 16
476: Chevrolet Beat -> 3
501: Hyundai Grand i10 Nios -> 38
538: Maruti Eeco -> 70
550: Tata Zest -> 123
561: Maruti SX4 -> 78
577: Hyundai i20 N Line -> 48
586: Mahindra Renault Logan -> 56
603: Citroen C3 -> 7
609: Honda Amaze -> 25
631: MG Hector -> 53
634: Tata Manza -> 117
646: Nissan Micra Active -> 95
647: Ford Fiesta -> 21
660: Skoda Superb -> 111
662: Fiat Punto -> 15
703: Skoda Slavia -> 110
737: Tata Indigo -> 116
739: Skoda Fabia -> 105
752: Nissan Sunny -> 96
808: Fiat Palio -> 14
809: Toyota Etios -> 125
826: Chevrolet Spark -> 6
829: Maruti Estilo -> 72
878: Skoda Octavia -> 108
999: Nissan Micra -> 94
1020: Fiat Punto EVO -> 17
1043: Renault Fluence -> 100
1067: Maruti A-Star -> 59
1091: Maruti Esteem -> 71
1100: Chevrolet Sail -> 5
1175: Honda Civic -> 28
1353: Hyundai Aura -> 32
1454: Tata Punch -> 119
1540: Tata Tiago NRG -> 121
1647: Maruti Wagon R Stingray -> 85
1656: Mini 5 DOOR -> 91
1667: Fiat Grande Punto -> 12
1711: Chevrolet Aveo -> 1
1722: Mercedes-Benz C-Class -> 89
1768: Tata Indica -> 114
1784: Maruti Zen Estilo -> 86
1807: Toyota Etios Liva -> 127
1906: Fiat Punto Pure -> 18
2057: Volkswagen Virtus -> 137
2101: Nissan Kicks -> 92
2159: Maruti Brezza -> 65
2223: Toyota Etios Cross -> 126
2319: Maruti Swift Dzire Tour -> 82
2587: Mercedes-Benz E-Class -> 90
2588: Mahindra KUV 100 NXT -> 55
2671: Chevrolet Optra -> 4
2927: Ford Fiesta Classic -> 22
2961: Maruti FRONX -> 73
2986: Maruti Celerio Tour 2018-2021 -> 67
3166: Maruti Grand Vitara -> 74
3545: Fiat Avventura -> 11
3752: Mahindra KUV 100 -> 54
3858: Tata Bolt -> 113
3924: Hyundai Xcent Prime -> 44
3970: Fiat Abarth Avventura -> 10
4024: Hyundai Getz -> 36
4135: Mercedes-Benz B Class -> 88
4362: Renault Scala -> 104
4477: Chevrolet Aveo U-VA -> 2
4967: Renault Pulse -> 103
4986: Volkswagen CrossPolo -> 132

In [ ]:
import datetime
# --- 1. Create the 'Age' Feature ---
print("Creating 'modelYr' feature...")
current_year = datetime.datetime.now().year
car_df['modelYr'] = current_year - car_df['modelYear']

In [14]:
car_df.head()

,bodytype,seats,kms,modelYear,fueltype,ownerNo,transmission,price,Insurance,engine_cc,...,model,bodytype_encoded1,fueltype_encoded1,transmission_encoded1,Insurance_encoded1,oem_encoded1,DriveType_encoded1,city_encoded1,model_encoded1,modelYr
0,Hatchback,5,120000,2015,Petrol,3,Manual,400000,Third Party,998,...,Maruti Celerio,0,3,1,2,12,2,0,66,10
1,SUV,5,32706,2018,Petrol,2,Manual,811000,Comprehensive,1497,...,Ford Ecosport,2,3,1,0,5,2,0,20,7
2,Hatchback,5,11949,2018,Petrol,1,Manual,585000,Comprehensive,1199,...,Tata Tiago,0,3,1,0,18,2,0,120,7
3,Sedan,5,17794,2014,Petrol,1,Manual,462000,Comprehensive,1197,...,Hyundai Xcent,3,3,1,0,7,2,0,43,11
4,SUV,5,60000,2015,Diesel,1,Manual,790000,Third Party,1248,...,Maruti SX4 S Cross,2,1,1,2,12,2,0,79,10

In [15]:
car_df.shape

(6036, 25)

### NEW FEATURE

In [16]:
new_feature = ['Gearbox','Year of Manufacture','modelYr','kms driven',
'Mileage','owner','seats','Registration Year','Engine Displacement',
'city_encoded1','oem_encoded1','bodytype_encoded1','fueltype_encoded1',
'transmission_encoded1','DriveType_encoded1','Insurance_encoded1','model_encoded1']

In [17]:
len(new_feature)

17

In [18]:
numerical_columns = ['seats', 'kms', 'modelYr', 'ownerNo', 'engine_cc', 'Gearbox',
       'Mileage']

categorical_columns =['bodytype', 'fueltype', 'transmission', 'Insurance', 'oem', 'DriveType',
       'city','model']

In [19]:
numerical_columns

['seats', 'kms', 'modelYr', 'ownerNo', 'engine_cc', 'Gearbox', 'Mileage']

In [20]:
categorical_columns

['bodytype',
 'fueltype',
 'transmission',
 'Insurance',
 'oem',
 'DriveType',
 'city',
 'model']

# Model Development

### TRAIN TEST SPLITTING OF DATA

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import r2_score
X = car_df[numerical_columns + categorical_columns]
y = car_df['price']

In [22]:
categorical_columns_label = ['bodytype']  # Columns to label encode
categorical_columns_one_hot = ['fueltype', 'transmission', 'Insurance', 'oem', 'DriveType', 'city','model']  # Columns to one-hot encode
numerical_columns = ['seats', 'kms', 'modelYr', 'ownerNo', 'engine_cc', 'Gearbox', 'Mileage']  # Numerical columns to scale

### Label Encoding for Bodytype

In [23]:
label_encoders = {}
for column in categorical_columns_label:
    le = LabelEncoder()
    X[column] = le.fit_transform(X[column])  # Apply Label Encoding
    label_encoders[column] = le  # Store the encoder if needed later

C:\Users\hp\AppData\Local\Temp\ipykernel_9192\3347631989.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[column] = le.fit_transform(X[column])  # Apply Label Encoding

In [24]:
import joblib

# 'label_encoders' is the dictionary you created
# We save the specific encoder for the 'bodytype' column
joblib.dump(label_encoders['bodytype'], 'bodytype_label_encoder.pkl')

['bodytype_label_encoder.pkl']

In [25]:
one_hot_encoder = OneHotEncoder(drop='first', sparse_output=False)
X_encoded = pd.DataFrame(one_hot_encoder.fit_transform(X[categorical_columns_one_hot]))
X_encoded.columns = one_hot_encoder.get_feature_names_out(categorical_columns_one_hot)  # Naming the columns

# Drop original one-hot columns and concatenate encoded columns
X = X.drop(columns=categorical_columns_one_hot).reset_index(drop=True)
X = pd.concat([X, X_encoded], axis=1)

In [26]:
import joblib
# 'one_hot_encoder' is the object you fit to your data
joblib.dump(one_hot_encoder, 'one_hot_encoder.pkl')

['one_hot_encoder.pkl']

### SCALING

In [27]:
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
# Scale numerical columns
scaler = MinMaxScaler()
X[numerical_columns] = scaler.fit_transform(X[numerical_columns])

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((4225, 180), (1811, 180), (4225,), (1811,))

In [29]:
X_train.head()

,seats,kms,modelYr,ownerNo,engine_cc,Gearbox,Mileage,bodytype,fueltype_Diesel,fueltype_LPG,...,model_Toyota Glanza,model_Toyota Urban cruiser,model_Toyota Yaris,model_Volkswagen Ameo,model_Volkswagen CrossPolo,model_Volkswagen Jetta,model_Volkswagen Polo,model_Volkswagen Taigun,model_Volkswagen Vento,model_Volkswagen Virtus
5238,0.0,0.238816,0.6250,0.333333,0.366274,0.333333,0.464824,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
376,0.0,0.737883,0.4375,0.666667,0.525839,0.333333,0.567211,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2615,0.0,0.225494,0.4375,0.333333,0.366274,0.333333,0.609296,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2406,0.0,0.082037,0.1250,0.333333,0.366274,0.666667,0.332915,2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
859,0.0,0.086774,0.3750,0.666667,0.366274,0.000000,0.452261,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
### LINEAR REGRESSION MODEL

In [31]:
from sklearn.linear_model import LinearRegression

# Initialize the model
models = LinearRegression()

# Fit the model on the training data
models.fit(X_train, y_train)

# Optionally, you can make predictions on the test set
y_pred = models.predict(X_test)

# Display predictions (optional)
y_pred

array([1006496.,  613648.,  929440., ...,  621856.,  509472.,  249392.])

In [32]:
from sklearn import metrics
import numpy as np
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Calculate evaluation metrics
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

# for evaluation / accuracy--  prediction + y_test
# Display the results
print(f"Mean Absolute Error (MAE): {mae:f}")
print(f"Mean Squared Error (MSE): {mse:.2f}")
print(f"R-squared: {r2:.4f}")
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error (MAE): 656531759610436.500000
Mean Squared Error (MSE): 251752582654958979111129895141376.00
R-squared: -2683820686403430776832.0000
Root Mean Squared Error: 1.5866713038778982e+16

### RANDOM FOREST

In [33]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score


model = RandomForestRegressor(random_state=42,n_estimators=350,max_depth=50)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')
print('root mean square :',r2_score(y_test, y_pred))
a=mean_absolute_error(y_test, y_pred)
print(f"Mean Absolute Error (MAE): {a:.2f}")
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Squared Error: 2.5175258265495898e+32
root mean square : 0.9180801618055133
Mean Absolute Error (MAE): 60316.25
Root Mean Squared Error: 87660.66525268677

In [34]:
importances = model.feature_importances_
feature_importances = pd.DataFrame({'Feature': X.columns, 'Importance': importances})
feature_importances = feature_importances.sort_values(by='Importance', ascending=False)
feature_importances

                                 Feature  Importance
2                                modelYr    0.401855
5                                Gearbox    0.267306
4                              engine_cc    0.083081
7                               bodytype    0.054967
1                                    kms    0.031527
..                                   ...         ...
0                                  seats    0.000000
109  model_Maruti Celerio Tour 2018-2021    0.000000
58               model_Fiat Punto Abarth    0.000000
56                      model_Fiat Palio    0.000000
116            model_Maruti Grand Vitara    0.000000

[180 rows x 2 columns]

### XG BOOST

In [35]:
import xgboost as xgb
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np
import joblib

# Assuming X and y are your features and target variable

# Create the XGBoost model
xgb_model = xgb.XGBRegressor(random_state=42)

# Define the hyperparameters to tune
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [3, 4, 5, 6],
    'learning_rate': [0.01, 0.1, 0.3],
    'subsample': [0.8, 0.9, 1.0],
    'colsample_bytree': [0.8, 0.9, 1.0],
    'gamma': [0, 0.1, 0.2]
}

# Set up GridSearchCV
grid_search = GridSearchCV(estimator=xgb_model, param_grid=param_grid, 
                           cv=5, n_jobs=-1, verbose=2, scoring='r2')

# Fit the grid search
grid_search.fit(X_train, y_train)

# Get the best parameters and model
best_params = grid_search.best_params_
best_model = grid_search.best_estimator_

# Make predictions with the best model
y_pred = best_model.predict(X_test)

# Calculate metrics
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
rmse = np.sqrt(mse)

# Print results
print("XGBoost Tuned Results:")
print(f"Best Parameters: {best_params}")
print(f"Mean Squared Error: {mse:.4f}")
print(f"R-squared Score: {r2:.4f}")
print(f"Root Mean Squared Error: {rmse:.4f}")

Fitting 5 folds for each of 972 candidates, totalling 4860 fits
XGBoost Tuned Results:
Best Parameters: {'colsample_bytree': 0.8, 'gamma': 0, 'learning_rate': 0.1, 'max_depth': 5, 'n_estimators': 300, 'subsample': 0.8}
Mean Squared Error: 6383203240.7790
R-squared Score: 0.9320
Root Mean Squared Error: 79894.9513

### Gradient boosting

In [36]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
import numpy as np

# Assuming X and y are your features and target variable

# Create and train the Gradient Boosting model
gb_model = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, max_depth=3, random_state=42)
gb_model.fit(X_train, y_train)

# Make predictions
y_pred = gb_model.predict(X_test)

# Calculate metrics
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mse)

# Print results
print("Gradient Boosting Regressor Results:")
print(f"Mean Squared Error: {mse:.4f}")
print(f"R-squared Score: {r2:.4f}")
print(f"Mean Absolute Error: {mae:.4f}")
print(f"Root Mean Squared Error: {rmse:.4f}")

Gradient Boosting Regressor Results:
Mean Squared Error: 9423798552.3487
R-squared Score: 0.8995
Mean Absolute Error: 69480.4251
Root Mean Squared Error: 97076.2512

In [37]:
# Feature importance
feature_importance = gb_model.feature_importances_
for i, importance in enumerate(feature_importance):
    print(f"Feature {X.columns[i]}: {importance:.4f}")

Feature seats: 0.0000
Feature kms: 0.0132
Feature modelYr: 0.4330
Feature ownerNo: 0.0019
Feature engine_cc: 0.1144
Feature Gearbox: 0.2073
Feature Mileage: 0.0202
Feature bodytype: 0.0895
Feature fueltype_Diesel: 0.0001
Feature fueltype_LPG: 0.0000
Feature fueltype_Petrol: 0.0000
Feature transmission_Manual: 0.0283
Feature Insurance_Not Available: 0.0006
Feature Insurance_Third Party: 0.0001
Feature Insurance_Zero Dep: 0.0000
Feature oem_Chevrolet: 0.0002
Feature oem_Citroen: 0.0000
Feature oem_Datsun: 0.0015
Feature oem_Fiat: 0.0000
Feature oem_Ford: 0.0028
Feature oem_Honda: 0.0000
Feature oem_Hyundai: 0.0000
Feature oem_Jeep: 0.0004
Feature oem_Kia: 0.0000
Feature oem_MG: 0.0053
Feature oem_Mahindra: 0.0001
Feature oem_Maruti: 0.0000
Feature oem_Mercedes-Benz: 0.0019
Feature oem_Mini: 0.0019
Feature oem_Nissan: 0.0000
Feature oem_Renault: 0.0009
Feature oem_Skoda: 0.0021
Feature oem_Tata: 0.0039
Feature oem_Toyota: 0.0000
Feature oem_Volkswagen: 0.0003
Feature DriveType_AWD: 0.0000
Feature DriveType_FWD: 0.0000
Feature DriveType_RWD: 0.0000
Feature city_Chennai: 0.0000
Feature city_Delhi: 0.0062
Feature city_Hyderabad: 0.0003
Feature city_Jaipur: 0.0038
Feature city_Kolkata: 0.0188
Feature model_Chevrolet Aveo: 0.0000
Feature model_Chevrolet Aveo U-VA: 0.0000
Feature model_Chevrolet Beat: 0.0000
Feature model_Chevrolet Optra: 0.0000
Feature model_Chevrolet Sail: 0.0000
Feature model_Chevrolet Spark: 0.0000
Feature model_Citroen C3: 0.0000
Feature model_Datsun GO: 0.0000
Feature model_Datsun RediGO: 0.0000
Feature model_Fiat Abarth Avventura: 0.0000
Feature model_Fiat Avventura: 0.0000
Feature model_Fiat Grande Punto: 0.0000
Feature model_Fiat Linea: 0.0000
Feature model_Fiat Palio: 0.0000
Feature model_Fiat Punto: 0.0000
Feature model_Fiat Punto Abarth: 0.0000
Feature model_Fiat Punto EVO: 0.0000
Feature model_Fiat Punto Pure: 0.0000
Feature model_Ford Aspire: 0.0000
Feature model_Ford Ecosport: 0.0000
Feature model_Ford Fiesta: 0.0000
Feature model_Ford Fiesta Classic: 0.0000
Feature model_Ford Figo: 0.0000
Feature model_Ford Freestyle: 0.0000
Feature model_Honda Amaze: 0.0004
Feature model_Honda Brio: 0.0000
Feature model_Honda City: 0.0019
Feature model_Honda Civic: 0.0000
Feature model_Honda Jazz: 0.0000
Feature model_Honda WR-V: 0.0000
Feature model_Hyundai Accent: 0.0000
Feature model_Hyundai Aura: 0.0000
Feature model_Hyundai Creta: 0.0073
Feature model_Hyundai EON: 0.0000
Feature model_Hyundai Elantra: 0.0000
Feature model_Hyundai Getz: 0.0000
Feature model_Hyundai Grand i10: 0.0000
Feature model_Hyundai Grand i10 Nios: 0.0000
Feature model_Hyundai Santro: 0.0000
Feature model_Hyundai Santro Xing: 0.0000
Feature model_Hyundai Venue: 0.0000
Feature model_Hyundai Verna: 0.0000
Feature model_Hyundai Xcent: 0.0000
Feature model_Hyundai Xcent Prime: 0.0000
Feature model_Hyundai i10: 0.0000
Feature model_Hyundai i20: 0.0017
Feature model_Hyundai i20 Active: 0.0000
Feature model_Hyundai i20 N Line: 0.0002
Feature model_Jeep Compass: 0.0043
Feature model_Kia Seltos: 0.0085
Feature model_Kia Sonet: 0.0000
Feature model_MG Astor: 0.0000
Feature model_MG Hector: 0.0004
Feature model_Mahindra KUV 100: 0.0000
Feature model_Mahindra KUV 100 NXT: 0.0000
Feature model_Mahindra Renault Logan: 0.0000
Feature model_Mahindra Verito: 0.0000
Feature model_Mahindra XUV300: 0.0000
Feature model_Maruti A-Star: 0.0000
Feature model_Maruti Alto: 0.0000
Feature model_Maruti Alto 800: 0.0000
Feature model_Maruti Alto K10: 0.0002
Feature model_Maruti Baleno: 0.0030
Feature model_Maruti Baleno RS: 0.0000
Feature model_Maruti Brezza: 0.0000
Feature model_Maruti Celerio: 0.0000
Feature model_Maruti Celerio Tour 2018-2021: 0.0000
Feature model_Maruti Celerio X: 0.0000
Feature model_Maruti Ciaz: 0.0000
Feature model_Maruti Eeco: 0.0000
Feature model_Maruti Esteem: 0.0000
Feature model_Maruti Estilo: 0.0000
Feature model_Maruti FRONX: 0.0000
Feature model_Maruti Grand Vitara: 0.0000
Feature model_Maruti Ignis: 0.0001
Feature model_Maruti Ritz: 0.0000
Feature model_Maruti S-Presso: 0.0000
Feature model_Maruti SX4: 0.0000
Feature model_Maruti SX4 S Cross: 0.0000
Feature model_Maruti Swift: 0.0007
Feature model_Maruti Swift Dzire: 0.0000
Feature model_Maruti Swift Dzire Tour: 0.0000
Feature model_Maruti Vitara Brezza: 0.0004
Feature model_Maruti Wagon R: 0.0000
Feature model_Maruti Wagon R Stingray: 0.0000
Feature model_Maruti Zen Estilo: 0.0000
Feature model_Mercedes-Benz A Class: 0.0000
Feature model_Mercedes-Benz B Class: 0.0000
Feature model_Mercedes-Benz C-Class: 0.0000
Feature model_Mercedes-Benz E-Class: 0.0003
Feature model_Mini 5 DOOR: 0.0007
Feature model_Nissan Kicks: 0.0000
Feature model_Nissan Magnite: 0.0000
Feature model_Nissan Micra: 0.0000
Feature model_Nissan Micra Active: 0.0000
Feature model_Nissan Sunny: 0.0000
Feature model_Nissan Terrano: 0.0000
Feature model_Renault Captur: 0.0000
Feature model_Renault Duster: 0.0000
Feature model_Renault Fluence: 0.0000
Feature model_Renault KWID: 0.0000
Feature model_Renault Kiger: 0.0000
Feature model_Renault Pulse: 0.0000
Feature model_Renault Scala: 0.0000
Feature model_Skoda Fabia: 0.0000
Feature model_Skoda Kushaq: 0.0006
Feature model_Skoda Laura: 0.0001
Feature model_Skoda Octavia: 0.0010
Feature model_Skoda Rapid: 0.0001
Feature model_Skoda Slavia: 0.0000
Feature model_Skoda Superb: 0.0000
Feature model_Tata Altroz: 0.0005
Feature model_Tata Bolt: 0.0000
Feature model_Tata Indica: 0.0000
Feature model_Tata Indica V2: 0.0004
Feature model_Tata Indigo: 0.0000
Feature model_Tata Manza: 0.0000
Feature model_Tata Nexon: 0.0003
Feature model_Tata Punch: 0.0000
Feature model_Tata Tiago: 0.0000
Feature model_Tata Tiago NRG: 0.0000
Feature model_Tata Tigor: 0.0000
Feature model_Tata Zest: 0.0000
Feature model_Toyota Corolla Altis: 0.0001
Feature model_Toyota Etios: 0.0000
Feature model_Toyota Etios Cross: 0.0000
Feature model_Toyota Etios Liva: 0.0000
Feature model_Toyota Glanza: 0.0000
Feature model_Toyota Urban cruiser: 0.0000
Feature model_Toyota Yaris: 0.0009
Feature model_Volkswagen Ameo: 0.0000
Feature model_Volkswagen CrossPolo: 0.0000
Feature model_Volkswagen Jetta: 0.0000
Feature model_Volkswagen Polo: 0.0004
Feature model_Volkswagen Taigun: 0.0065
Feature model_Volkswagen Vento: 0.0000
Feature model_Volkswagen Virtus: 0.0001

### Comparison

In [38]:
from sklearn.linear_model import LinearRegression, ElasticNet
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import xgboost as xgb

def compare_models(X, y):
    # Split the data first
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
    
    # Scale the features using MinMaxScaler
    scaler = MinMaxScaler()
    X_train_scaled = scaler.fit_transform(X_train)
    X_test_scaled = scaler.transform(X_test)
    
    # Initialize models
    models = {
        'Linear Regression': LinearRegression(),
        'Random Forest': RandomForestRegressor(random_state=42),
        'XGBoost': xgb.XGBRegressor(random_state=42, colsample_bytree=1.0, gamma=0, learning_rate=0.3, max_depth=5, n_estimators=300, subsample=0.8),
        'Gradient Boosting': GradientBoostingRegressor(random_state=42),
        
    }
    
    # Dictionary to store results
    results = {}
    
    for name, model in models.items():
        # Train the model
        model.fit(X_train_scaled, y_train)
        y_pred = model.predict(X_test_scaled)
        
        # Calculate metrics
        mse = mean_squared_error(y_test, y_pred)
        r2 = r2_score(y_test, y_pred)
        mae = mean_absolute_error(y_test, y_pred)
        rmse = np.sqrt(mse)
        
        # Store results
        results[name] = {
            'MSE': mse,
            'R2': r2,
            'MAE': mae,
            'RMSE': rmse
        }
    
    # Print results
    for name, metrics in results.items():
        print(f"\n{name} Results:")
        for metric, value in metrics.items():
            print(f"{metric}: {value:.4f}")
    
    # Determine the best model
    best_model = max(results, key=lambda x: results[x]['R2'])
    print(f"\nBest model based on R2 score: {best_model}")
    
    return results

# Usage
results = compare_models(X, y)

Linear Regression Results:
MSE: 146962361363237228808966783369216.0000
R2: -1566699421272384471040.0000
MAE: 505597328128594.4375
RMSE: 12122803362392596.0000

Random Forest Results:
MSE: 7806515893.6984
R2: 0.9168
MAE: 60909.3697
RMSE: 88354.4899

XGBoost Results:
MSE: 7268769908.3597
R2: 0.9225
MAE: 57559.9762
RMSE: 85257.0813

Gradient Boosting Results:
MSE: 9423798552.3487
R2: 0.8995
MAE: 69480.4251
RMSE: 97076.2512

Best model based on R2 score: XGBoost

### MODEL PICKLING

In [39]:
from sklearn.preprocessing import MinMaxScaler
import joblib


joblib.dump(scaler, 'scaler.pkl')  # Save the scaler

['scaler.pkl']

In [40]:
import joblib

joblib.dump(models, 'linarreg.pkl')
#joblib.dump(model, 'xgb_model.pkl')

['linarreg.pkl']

In [41]:
import joblib

joblib.dump(model, 'randomforest.pkl')
#joblib.dump(model, 'xgb_model.pkl')

['randomforest.pkl']

In [42]:
import joblib

joblib.dump(best_model, 'best_xgb_model.pkl')
#joblib.dump(model, 'xgb_model.pkl')

['best_xgb_model.pkl']

In [43]:
import joblib

joblib.dump(gb_model, 'gradientboost.pkl')
#joblib.dump(model, 'xgb_model.pkl')

['gradientboost.pkl']

In [44]:
#import pickle

# # ... (your existing code for encoding categorical data)

 # Pickle each dictionary separately
#for dictionary_name, dictionary in [("d_city", d_city), ("d_bodytype", d_bodytype), ("d_fueltype", d_fueltype), ("d_oem", d_oem), ("d_Insurance", d_Insurance), ("d_DriveType", d_drivetype), ("d_transmission", d_transmission), ("d_transmission", d_transmission)]:
     #filename = f"{dictionary_name}.pkl"
     #with open(filename, "wb") as f:
        #pickle.dump(dictionary, f)

In [45]:
print(model.feature_names_in_)

['seats' 'kms' 'modelYr' 'ownerNo' 'engine_cc' 'Gearbox' 'Mileage'
 'bodytype' 'fueltype_Diesel' 'fueltype_LPG' 'fueltype_Petrol'
 'transmission_Manual' 'Insurance_Not Available' 'Insurance_Third Party'
 'Insurance_Zero Dep' 'oem_Chevrolet' 'oem_Citroen' 'oem_Datsun'
 'oem_Fiat' 'oem_Ford' 'oem_Honda' 'oem_Hyundai' 'oem_Jeep' 'oem_Kia'
 'oem_MG' 'oem_Mahindra' 'oem_Maruti' 'oem_Mercedes-Benz' 'oem_Mini'
 'oem_Nissan' 'oem_Renault' 'oem_Skoda' 'oem_Tata' 'oem_Toyota'
 'oem_Volkswagen' 'DriveType_AWD' 'DriveType_FWD' 'DriveType_RWD'
 'city_Chennai' 'city_Delhi' 'city_Hyderabad' 'city_Jaipur' 'city_Kolkata'
 'model_Chevrolet Aveo' 'model_Chevrolet Aveo U-VA' 'model_Chevrolet Beat'
 'model_Chevrolet Optra' 'model_Chevrolet Sail' 'model_Chevrolet Spark'
 'model_Citroen C3' 'model_Datsun GO' 'model_Datsun RediGO'
 'model_Fiat Abarth Avventura' 'model_Fiat Avventura'
 'model_Fiat Grande Punto' 'model_Fiat Linea' 'model_Fiat Palio'
 'model_Fiat Punto' 'model_Fiat Punto Abarth' 'model_Fiat Punto EVO'
 'model_Fiat Punto Pure' 'model_Ford Aspire' 'model_Ford Ecosport'
 'model_Ford Fiesta' 'model_Ford Fiesta Classic' 'model_Ford Figo'
 'model_Ford Freestyle' 'model_Honda Amaze' 'model_Honda Brio'
 'model_Honda City' 'model_Honda Civic' 'model_Honda Jazz'
 'model_Honda WR-V' 'model_Hyundai Accent' 'model_Hyundai Aura'
 'model_Hyundai Creta' 'model_Hyundai EON' 'model_Hyundai Elantra'
 'model_Hyundai Getz' 'model_Hyundai Grand i10'
 'model_Hyundai Grand i10 Nios' 'model_Hyundai Santro'
 'model_Hyundai Santro Xing' 'model_Hyundai Venue' 'model_Hyundai Verna'
 'model_Hyundai Xcent' 'model_Hyundai Xcent Prime' 'model_Hyundai i10'
 'model_Hyundai i20' 'model_Hyundai i20 Active' 'model_Hyundai i20 N Line'
 'model_Jeep Compass' 'model_Kia Seltos' 'model_Kia Sonet'
 'model_MG Astor' 'model_MG Hector' 'model_Mahindra KUV 100'
 'model_Mahindra KUV 100 NXT' 'model_Mahindra Renault Logan'
 'model_Mahindra Verito' 'model_Mahindra XUV300' 'model_Maruti A-Star'
 'model_Maruti Alto' 'model_Maruti Alto 800' 'model_Maruti Alto K10'
 'model_Maruti Baleno' 'model_Maruti Baleno RS' 'model_Maruti Brezza'
 'model_Maruti Celerio' 'model_Maruti Celerio Tour 2018-2021'
 'model_Maruti Celerio X' 'model_Maruti Ciaz' 'model_Maruti Eeco'
 'model_Maruti Esteem' 'model_Maruti Estilo' 'model_Maruti FRONX'
 'model_Maruti Grand Vitara' 'model_Maruti Ignis' 'model_Maruti Ritz'
 'model_Maruti S-Presso' 'model_Maruti SX4' 'model_Maruti SX4 S Cross'
 'model_Maruti Swift' 'model_Maruti Swift Dzire'
 'model_Maruti Swift Dzire Tour' 'model_Maruti Vitara Brezza'
 'model_Maruti Wagon R' 'model_Maruti Wagon R Stingray'
 'model_Maruti Zen Estilo' 'model_Mercedes-Benz A Class'
 'model_Mercedes-Benz B Class' 'model_Mercedes-Benz C-Class'
 'model_Mercedes-Benz E-Class' 'model_Mini 5 DOOR' 'model_Nissan Kicks'
 'model_Nissan Magnite' 'model_Nissan Micra' 'model_Nissan Micra Active'
 'model_Nissan Sunny' 'model_Nissan Terrano' 'model_Renault Captur'
 'model_Renault Duster' 'model_Renault Fluence' 'model_Renault KWID'
 'model_Renault Kiger' 'model_Renault Pulse' 'model_Renault Scala'
 'model_Skoda Fabia' 'model_Skoda Kushaq' 'model_Skoda Laura'
 'model_Skoda Octavia' 'model_Skoda Rapid' 'model_Skoda Slavia'
 'model_Skoda Superb' 'model_Tata Altroz' 'model_Tata Bolt'
 'model_Tata Indica' 'model_Tata Indica V2' 'model_Tata Indigo'
 'model_Tata Manza' 'model_Tata Nexon' 'model_Tata Punch'
 'model_Tata Tiago' 'model_Tata Tiago NRG' 'model_Tata Tigor'
 'model_Tata Zest' 'model_Toyota Corolla Altis' 'model_Toyota Etios'
 'model_Toyota Etios Cross' 'model_Toyota Etios Liva'
 'model_Toyota Glanza' 'model_Toyota Urban cruiser' 'model_Toyota Yaris'
 'model_Volkswagen Ameo' 'model_Volkswagen CrossPolo'
 'model_Volkswagen Jetta' 'model_Volkswagen Polo'
 'model_Volkswagen Taigun' 'model_Volkswagen Vento'
 'model_Volkswagen Virtus']

In [46]:
X_train.head()

,seats,kms,modelYr,ownerNo,engine_cc,Gearbox,Mileage,bodytype,fueltype_Diesel,fueltype_LPG,...,model_Toyota Glanza,model_Toyota Urban cruiser,model_Toyota Yaris,model_Volkswagen Ameo,model_Volkswagen CrossPolo,model_Volkswagen Jetta,model_Volkswagen Polo,model_Volkswagen Taigun,model_Volkswagen Vento,model_Volkswagen Virtus
5238,0.0,0.238816,0.6250,0.333333,0.366274,0.333333,0.464824,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
376,0.0,0.737883,0.4375,0.666667,0.525839,0.333333,0.567211,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2615,0.0,0.225494,0.4375,0.333333,0.366274,0.333333,0.609296,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2406,0.0,0.082037,0.1250,0.333333,0.366274,0.666667,0.332915,2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
859,0.0,0.086774,0.3750,0.666667,0.366274,0.000000,0.452261,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0