In [1]:
import pandas as pd

In [2]:
import pandas as pd

# Specify the path to your Excel file
data = r"C:\Users\hp\OneDrive\Pictures\guvi certificates\Car Dheko - Used Car Price Prediction\structure format\cars_eda.csv"

# Read the Excel file and display the first few rows
car_df = pd.read_csv(data)  # Using openpyxl to read .xlsx files
print(car_df.head())
#df1_bangalore

    bodytype  seats     kms  modelYear fueltype  ownerNo transmission   price  \
0  Hatchback      5  120000       2015   Petrol        3       Manual  400000
1        SUV      5   32706       2018   Petrol        2       Manual  811000
2  Hatchback      5   11949       2018   Petrol        1       Manual  585000
3      Sedan      5   17794       2014   Petrol        1       Manual  462000
4        SUV      5   60000       2015   Diesel        1       Manual  790000

       Insurance  engine_cc      oem  Gearbox  Mileage DriveType       city  \
0    Third Party        998   Maruti        5    23.10       FWD  Bangalore
1  Comprehensive       1497     Ford        5    17.00       FWD  Bangalore
2  Comprehensive       1199     Tata        5    23.84       FWD  Bangalore
3  Comprehensive       1197  Hyundai        5    19.10       FWD  Bangalore
4    Third Party       1248   Maruti        5    23.65       FWD  Bangalore

                model
0      Maruti Celerio
1       Ford Ecosport
2          Tata Tiago
3       Hyundai Xcent
4  Maruti SX4 S Cross

In [3]:
car_df.shape

(8150, 16)

### LABEL ENCODING

In [4]:
car_df.head()

,bodytype,seats,kms,modelYear,fueltype,ownerNo,transmission,price,Insurance,engine_cc,oem,Gearbox,Mileage,DriveType,city,model
0,Hatchback,5,120000,2015,Petrol,3,Manual,400000,Third Party,998,Maruti,5,23.10,FWD,Bangalore,Maruti Celerio
1,SUV,5,32706,2018,Petrol,2,Manual,811000,Comprehensive,1497,Ford,5,17.00,FWD,Bangalore,Ford Ecosport
2,Hatchback,5,11949,2018,Petrol,1,Manual,585000,Comprehensive,1199,Tata,5,23.84,FWD,Bangalore,Tata Tiago
3,Sedan,5,17794,2014,Petrol,1,Manual,462000,Comprehensive,1197,Hyundai,5,19.10,FWD,Bangalore,Hyundai Xcent
4,SUV,5,60000,2015,Diesel,1,Manual,790000,Third Party,1248,Maruti,5,23.65,FWD,Bangalore,Maruti SX4 S Cross

# bodytype

In [5]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
# Fit and transform the categorical data
car_df['bodytype_encoded1'] = le.fit_transform(car_df['bodytype'])
# Display the encoded values using a for loop
d_bodytype={}
for  idx, (category, encoded) in enumerate(zip(car_df['bodytype'], car_df['bodytype_encoded1'])):
    if(category in d_bodytype.keys()):
        continue
    d_bodytype[category]=encoded
    print(f"{idx}: {category} -> {encoded}")

0: Hatchback -> 2
1: SUV -> 6
3: Sedan -> 7
34: MUV -> 3
243: Coupe -> 1
570: Minivans -> 4
914: Pickup Trucks -> 5
1271: Convertibles -> 0
3362: Wagon -> 8

# fueltype

In [6]:
le = LabelEncoder()
# Fit and transform the categorical data
car_df['fueltype_encoded1'] = le.fit_transform(car_df['fueltype'])
# Display the encoded values using a for loop
d_fueltype={}
for  idx, (category, encoded) in enumerate(zip(car_df['fueltype'], car_df['fueltype_encoded1'])):
    if(category in d_fueltype.keys()):
        continue
    d_fueltype[category]=encoded
    print(f"{idx}: {category} -> {encoded}")

0: Petrol -> 4
4: Diesel -> 1
26: LPG -> 3
246: CNG -> 0
561: Electric -> 2

# trasmission

In [7]:
le = LabelEncoder()
# Fit and transform the categorical data
car_df['transmission_encoded1'] = le.fit_transform(car_df['transmission'])
# Display the encoded values using a for loop
d_transmission={}
for  idx, (category, encoded) in enumerate(zip(car_df['transmission'], car_df['transmission_encoded1'])):
    if(category in d_transmission.keys()):
        continue
    d_transmission[category]=encoded
    print(f"{idx}: {category} -> {encoded}")

0: Manual -> 1
7: Automatic -> 0

# Insurance

In [8]:
le = LabelEncoder()
# Fit and transform the categorical data
car_df['Insurance_encoded1'] = le.fit_transform(car_df['Insurance'])
# Display the encoded values using a for loop
d_Insurance={}
for  idx, (category, encoded) in enumerate(zip(car_df['Insurance'], car_df['Insurance_encoded1'])):
    if(category in d_Insurance.keys()):
        continue
    d_Insurance[category]=encoded
    print(f"{idx}: {category} -> {encoded}")

0: Third Party -> 2
1: Comprehensive -> 0
37: Zero Dep -> 3
1340: Not Available -> 1

# oem

In [9]:
#from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
# Fit and transform the categorical data
car_df['oem_encoded1'] = le.fit_transform(car_df['oem'])
# Display the encoded values using a for loop
d_oem={}
for  idx, (category, encoded) in enumerate(zip(car_df['oem'], car_df['oem_encoded1'])):
    if(category in d_oem.keys()):
        continue
    d_oem[category]=encoded
    print(f"{idx}: {category} -> {encoded}")

0: Maruti -> 18
1: Ford -> 6
2: Tata -> 28
3: Hyundai -> 9
5: Jeep -> 12
6: Datsun -> 4
12: Honda -> 8
14: Mahindra -> 17
16: Mercedes-Benz -> 19
20: BMW -> 1
22: Renault -> 25
29: Audi -> 0
38: Toyota -> 29
47: Mini -> 20
49: Kia -> 13
62: Skoda -> 26
79: Volkswagen -> 30
89: Volvo -> 31
92: MG -> 16
147: Nissan -> 22
189: Fiat -> 5
202: Ssangyong -> 27
223: Mitsubishi -> 21
224: Jaguar -> 11
318: Land Rover -> 14
643: Chevrolet -> 2
683: Citroen -> 3
722: Opel -> 23
1772: Isuzu -> 10
2761: Lexus -> 15
3118: Porsche -> 24
5406: Hindustan Motors -> 7

# Drivetype

In [10]:
le = LabelEncoder()
# Fit and transform the categorical data
car_df['DriveType_encoded1'] = le.fit_transform(car_df['DriveType'])
# Display the encoded values using a for loop
d_drivetype={}
for  idx, (category, encoded) in enumerate(zip(car_df['DriveType'], car_df['DriveType_encoded1'])):
    if(category in d_drivetype.keys()):
        continue
    d_drivetype[category]=encoded
    print(f"{idx}: {category} -> {encoded}")

0: FWD -> 2
5: 4WD -> 0
16: AWD -> 1
27: RWD -> 3

# city

In [11]:
le = LabelEncoder()
# Fit and transform the categorical data
car_df['city_encoded1'] = le.fit_transform(car_df['city'])
# Display the encoded values using a for loop
d_city={}
for  idx, (category, encoded) in enumerate(zip(car_df['city'], car_df['city_encoded1'])):
    if(category in d_city.keys()):
        continue
    d_city[category]=encoded
    print(f"{idx}: {category} -> {encoded}")

0: Bangalore -> 0
1451: Chennai -> 1
2841: Delhi -> 2
4263: Hyderabad -> 3
5717: Jaipur -> 4
6799: Kolkata -> 5

# model

In [12]:
le = LabelEncoder()
# Fit and transform the categorical data
car_df['model_encoded1'] = le.fit_transform(car_df['model'])
# Display the encoded values using a for loop
d_city={}
for  idx, (category, encoded) in enumerate(zip(car_df['model'], car_df['model_encoded1'])):
    if(category in d_city.keys()):
        continue
    d_city[category]=encoded
    print(f"{idx}: {category} -> {encoded}")

0: Maruti Celerio -> 155
1: Ford Ecosport -> 48
2: Tata Tiago -> 262
3: Hyundai Xcent -> 85
4: Maruti SX4 S Cross -> 173
5: Jeep Compass -> 99
6: Datsun GO -> 35
7: Hyundai Venue -> 83
8: Maruti Ciaz -> 158
10: Maruti Baleno -> 152
11: Hyundai Grand i10 -> 75
12: Honda Jazz -> 64
14: Mahindra XUV500 -> 143
16: Mercedes-Benz GLA -> 194
17: Hyundai i20 -> 88
18: Tata Nexon -> 254
19: Honda City -> 61
20: BMW 5 Series -> 16
21: Maruti Swift -> 174
22: Renault Duster -> 225
25: Hyundai Santro -> 79
26: Hyundai Santro Xing -> 80
27: Mercedes-Benz E-Class -> 192
29: Audi A4 -> 3
33: Maruti Wagon R -> 179
34: Maruti Ertiga -> 160
35: Mercedes-Benz C-Class -> 189
38: Toyota Fortuner -> 274
43: Hyundai Elantra -> 73
44: Audi A6 -> 4
45: Maruti Alto 800 -> 150
46: Mahindra Scorpio -> 134
47: Mini 3 DOOR -> 203
49: Kia Seltos -> 105
51: Maruti Alto -> 149
53: Mercedes-Benz GL-Class -> 193
54: Tata New Safari -> 253
56: Audi Q7 -> 9
58: Renault KWID -> 227
60: Hyundai Getz -> 74
62: Skoda Rapid -> 238
65: Hyundai Creta -> 71
66: Tata Harrier -> 245
70: BMW 3 Series GT -> 14
73: Renault Lodgy -> 229
74: Skoda Octavia -> 237
76: Maruti Ritz -> 170
79: Volkswagen Polo -> 287
83: Mahindra KUV 100 -> 129
85: BMW X3 -> 20
87: Hyundai i10 -> 87
89: Volvo S60 -> 295
91: Mahindra XUV300 -> 142
92: MG Hector Plus -> 119
93: Honda Brio -> 59
95: Maruti Alto K10 -> 151
96: Renault Kiger -> 228
99: Hyundai EON -> 72
100: Volkswagen Vento -> 292
101: Toyota Yaris -> 282
103: MG Hector -> 118
104: Hyundai Alcazar -> 69
111: Volkswagen T-Roc -> 288
113: BMW 3 Series -> 13
116: Skoda Superb -> 240
119: Audi Q5 -> 8
122: Ford Endeavour -> 49
124: Ford Figo -> 52
125: Maruti Ignis -> 167
131: Renault Triber -> 232
134: BMW X5 -> 22
138: Hyundai Tucson -> 82
143: Hyundai Verna -> 84
146: Mercedes-Benz GLC -> 196
147: Nissan Terrano -> 219
154: Honda CR-V -> 60
158: Mercedes-Benz A-Class Limousine -> 185
159: Toyota Innova -> 278
161: Hyundai Santa Fe -> 78
163: Maruti Baleno RS -> 153
165: Renault Captur -> 224
166: Maruti Vitara Brezza -> 178
176: Maruti Swift Dzire -> 175
189: Fiat Linea -> 41
191: Hyundai i20 Active -> 89
201: Honda WR-V -> 67
202: Mahindra Ssangyong Rexton -> 137
209: Toyota Corolla Altis -> 270
220: Ford Ikon -> 54
223: Mitsubishi Cedia -> 210
224: Jaguar XF -> 97
232: Audi A3 -> 1
234: Skoda Kushaq -> 235
239: Volkswagen Taigun -> 289
245: MG Astor -> 115
246: Hyundai Accent -> 68
281: Mercedes-Benz B Class -> 188
285: Kia Carnival -> 104
297: Skoda Laura -> 236
304: BMW X4 -> 21
316: Mini Cooper -> 205
318: Land Rover Discovery Sport -> 108
340: Volvo XC40 -> 300
356: Kia Sonet -> 106
364: Mahindra Verito -> 141
367: Maruti S-Presso -> 171
376: Volkswagen Jetta -> 285
388: Datsun RediGO -> 37
392: Ford Aspire -> 47
407: Ford Freestyle -> 53
418: Audi Q3 -> 6
431: Tata Tigor -> 264
457: Jaguar F-Pace -> 94
462: Mercedes-Benz A Class -> 184
465: Toyota Glanza -> 276
472: Nissan Magnite -> 215
474: Maruti Gypsy -> 166
496: Tata Safari Storme -> 259
510: Maruti Celerio X -> 157
514: Mercedes-Benz M-Class -> 200
515: Mercedes-Benz GLE -> 198
523: Toyota Urban cruiser -> 281
537: Mahindra Thar -> 140
539: Mercedes-Benz CLA -> 190
561: MG Comet EV -> 116
570: Maruti Omni -> 169
584: Volkswagen Tiguan -> 290
585: Tata Altroz -> 242
587: Tata Nexon EV Max -> 256
590: Tata Indica V2 -> 248
596: Toyota Innova Crysta -> 279
602: Volkswagen Ameo -> 283
609: Tata Nexon EV Prime -> 257
627: BMW X1 -> 19
643: Chevrolet Cruze -> 27
644: Toyota Camry -> 268
648: Fiat Punto Abarth -> 44
650: Mahindra TUV 300 -> 138
653: Chevrolet Beat -> 25
668: Maruti Eeco -> 159
676: Maruti 1000 -> 146
683: Citroen C5 Aircross -> 34
684: Mahindra XUV700 -> 144
685: Hyundai Grand i10 Nios -> 76
704: Maruti Zen -> 182
712: Mahindra Quanto -> 132
714: Land Rover Freelander 2 -> 109
722: OpelCorsa -> 220
747: Mahindra Xylo -> 145
756: Tata Zest -> 267
759: Honda New Accord -> 66
770: Skoda Yeti -> 241
778: Maruti SX4 -> 172
779: Jaguar XE -> 96
783: Chevrolet Spark -> 31
798: Hyundai i20 N Line -> 90
800: Chevrolet Tavera -> 32
809: Mahindra Renault Logan -> 133
831: Citroen C3 -> 33
835: Tata Nano -> 252
839: Honda Amaze -> 57
870: Mahindra Bolero Power Plus -> 126
875: Tata Manza -> 251
881: Maruti Esteem -> 162
884: Tata Hexa -> 246
892: Nissan Micra Active -> 217
893: Mitsubishi Lancer -> 211
894: Ford Fiesta -> 50
914: Mahindra Bolero Camper -> 123
915: Fiat Punto -> 43
960: Kia Carens -> 103
969: Chevrolet Enjoy -> 28
974: Volkswagen Tiguan Allspace -> 291
981: Skoda Slavia -> 239
1014: Mahindra Marazzo -> 131
1025: Tata Indigo -> 249
1027: Skoda Fabia -> 233
1028: Tata Sumo -> 260
1030: Ford Mondeo -> 55
1046: Nissan Sunny -> 218
1127: Fiat Palio -> 42
1128: Toyota Etios -> 271
1150: Maruti Estilo -> 163
1162: Mahindra Bolero -> 122
1197: Jeep Meridian -> 101
1204: BMW 1 Series -> 11
1258: Volvo XC 90 -> 299
1271: Audi A3 cabriolet -> 2
1303: MG Gloster -> 117
1321: Mercedes-Benz S-Class -> 201
1372: Nissan Micra -> 216
1398: Fiat Punto EVO -> 45
1408: Mini Cooper Countryman -> 208
1428: Renault Fluence -> 226
1458: Maruti A-Star -> 148
1475: Tata Nexon EV -> 255
1502: Chevrolet Sail -> 30
1507: BMW 7 Series -> 18
1546: Maruti XL6 -> 181
1557: Hyundai Sonata -> 81
1604: Honda Civic -> 63
1626: Maruti Ertiga Tour -> 161
1680: BMW 6 Series -> 17
1772: Isuzu MU 7 -> 92
1811: Maruti 800 -> 147
1835: Hyundai Aura -> 70
1850: BMW 3 Series Gran Limousine -> 15
1886: Volvo S90 -> 297
1948: Tata Indica -> 247
1966: Tata Punch -> 258
1985: Honda BR-V -> 58
1986: Mahindra Scorpio N -> 136
1993: Skoda Kodiaq -> 234
2082: Tata Tiago NRG -> 263
2091: Datsun GO Plus -> 36
2206: BMW 2 Series -> 12
2221: Maruti Wagon R Stingray -> 180
2235: Mini 5 DOOR -> 204
2246: Fiat Grande Punto -> 40
2283: Mahindra KUV 100 NXT -> 130
2301: Mercedes-Benz GLA Class -> 195
2302: Chevrolet Aveo -> 23
2304: Land Rover Range Rover Velar -> 112
2373: Toyota Hyryder -> 277
2384: Maruti Zen Estilo -> 183
2412: Toyota Etios Liva -> 273
2425: Land Rover Range Rover Evoque -> 110
2447: Maruti Versa -> 177
2519: Isuzu MU-X -> 93
2539: Fiat Punto Pure -> 46
2556: Honda Mobilio -> 65
2603: Chevrolet Optra -> 29
2616: Volvo S 80 -> 294
2619: Mitsubishi Pajero -> 213
2706: Volvo XC60 -> 301
2718: Mercedes-Benz AMG GLA 35 -> 187
2719: Mercedes-Benz AMG A 35 -> 186
2745: Volkswagen Virtus -> 293
2752: Land Rover Discovery -> 107
2761: Lexus ES -> 113
2788: Audi Q2 -> 5
2819: Nissan Kicks -> 214
2833: Mahindra TUV 300 Plus -> 139
2855: Mini Cooper SE -> 209
2901: Maruti Brezza -> 154
2930: Jeep Wrangler -> 102
2987: Toyota Etios Cross -> 272
3008: Mercedes-Benz GLC Coupe -> 197
3016: Mitsubishi Outlander -> 212
3038: Land Rover Range Rover Sport -> 111
3068: Mercedes-Benz CLS-Class -> 191
3069: Maruti Jimny -> 168
3076: Mini Cooper Clubman -> 206
3098: Lexus RX -> 114
3118: Porsche Cayenne -> 221
3143: Audi Q3 Sportback -> 7
3154: Maruti Swift Dzire Tour -> 176
3199: Mercedes-Benz GLS -> 199
3213: Mini Cooper Convertible -> 207
3358: Toyota Fortuner Legender -> 275
3420: Mahindra Scorpio Classic -> 135
3494: Mercedes-Benz SLC -> 202
3592: Isuzu D-Max -> 91
3605: Maruti Grand Vitara -> 165
4033: Ford Fiesta Classic -> 51
4074: Maruti FRONX -> 164
4109: Maruti Celerio Tour 2018-2021 -> 156
4157: Jaguar XJ -> 98
4199: Mahindra Alturas G4 -> 121
4432: Mahindra Jeep -> 128
4472: Toyota Qualis -> 280
4551: Volkswagen Passat -> 286
4841: Fiat Avventura -> 39
4873: Renault Scala -> 231
4981: Honda City Hybrid -> 62
5070: Tata Aria -> 243
5081: Volvo V40 -> 298
5235: Tata Bolt -> 244
5244: MG ZS EV -> 120
5296: Mahindra E Verito -> 127
5325: Hyundai Xcent Prime -> 86
5389: Fiat Abarth Avventura -> 38
5406: Hindustan Motors Contessa -> 56
5407: Mahindra Bolero Neo -> 124
5481: Tata Yodha Pickup -> 266
5507: Tata Indigo Marina -> 250
5556: Chevrolet Captiva -> 26
5562: Mahindra Bolero Pik Up Extra Long -> 125
5673: Toyota Corolla -> 269
5882: Volvo S60 Cross Country -> 296
6069: Chevrolet Aveo U-VA -> 24
6140: Hyundai Kona -> 77
6360: Tata Tigor EV -> 265
6745: Renault Pulse -> 230
6770: Volkswagen CrossPolo -> 284
6928: Jeep Compass Trailhawk -> 100
7005: Tata Sumo Victa -> 261
7025: Porsche Macan -> 222
7197: Ambassador -> 0
7439: Audi S5 Sportback -> 10
7531: Porsche Panamera -> 223
7906: Jaguar F-TYPE -> 95

In [13]:
car_df.head()

,bodytype,seats,kms,modelYear,fueltype,ownerNo,transmission,price,Insurance,engine_cc,...,city,model,bodytype_encoded1,fueltype_encoded1,transmission_encoded1,Insurance_encoded1,oem_encoded1,DriveType_encoded1,city_encoded1,model_encoded1
0,Hatchback,5,120000,2015,Petrol,3,Manual,400000,Third Party,998,...,Bangalore,Maruti Celerio,2,4,1,2,18,2,0,155
1,SUV,5,32706,2018,Petrol,2,Manual,811000,Comprehensive,1497,...,Bangalore,Ford Ecosport,6,4,1,0,6,2,0,48
2,Hatchback,5,11949,2018,Petrol,1,Manual,585000,Comprehensive,1199,...,Bangalore,Tata Tiago,2,4,1,0,28,2,0,262
3,Sedan,5,17794,2014,Petrol,1,Manual,462000,Comprehensive,1197,...,Bangalore,Hyundai Xcent,7,4,1,0,9,2,0,85
4,SUV,5,60000,2015,Diesel,1,Manual,790000,Third Party,1248,...,Bangalore,Maruti SX4 S Cross,6,1,1,2,18,2,0,173

In [14]:
car_df.shape

(8150, 24)

### NEW FEATURE

In [15]:
new_feature = ['Gearbox','Year of Manufacture','modelYear','kms driven',
'Mileage','owner','seats','Registration Year','Engine Displacement',
'city_encoded1','oem_encoded1','bodytype_encoded1','fueltype_encoded1',
'transmission_encoded1','DriveType_encoded1','Insurance_encoded1','model_encoded1']

In [16]:
len(new_feature)

17

In [17]:
numerical_columns = ['seats', 'kms', 'modelYear', 'ownerNo', 'engine_cc', 'Gearbox',
       'Mileage']

categorical_columns =['bodytype', 'fueltype', 'transmission', 'Insurance', 'oem', 'DriveType',
       'city','model']

In [18]:
numerical_columns

['seats', 'kms', 'modelYear', 'ownerNo', 'engine_cc', 'Gearbox', 'Mileage']

In [19]:
categorical_columns

['bodytype',
 'fueltype',
 'transmission',
 'Insurance',
 'oem',
 'DriveType',
 'city',
 'model']

# Model Development

### TRAIN TEST SPLITTING OF DATA

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import r2_score
X = car_df[numerical_columns + categorical_columns]
y = car_df['price']

In [21]:
categorical_columns_label = ['bodytype']  # Columns to label encode
categorical_columns_one_hot = ['fueltype', 'transmission', 'Insurance', 'oem', 'DriveType', 'city','model']  # Columns to one-hot encode
numerical_columns = ['seats', 'kms', 'modelYear', 'ownerNo', 'engine_cc', 'Gearbox', 'Mileage']  # Numerical columns to scale

### Label Encoding for Bodytype

In [22]:
label_encoders = {}
for column in categorical_columns_label:
    le = LabelEncoder()
    X[column] = le.fit_transform(X[column])  # Apply Label Encoding
    label_encoders[column] = le  # Store the encoder if needed later

C:\Users\hp\AppData\Local\Temp\ipykernel_2160\3347631989.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[column] = le.fit_transform(X[column])  # Apply Label Encoding

In [45]:
import joblib

# 'label_encoders' is the dictionary you created
# We save the specific encoder for the 'bodytype' column
joblib.dump(label_encoders['bodytype'], 'bodytype_label_encoder.pkl')

['bodytype_label_encoder.pkl']

In [23]:
one_hot_encoder = OneHotEncoder(drop='first', sparse_output=False)
X_encoded = pd.DataFrame(one_hot_encoder.fit_transform(X[categorical_columns_one_hot]))
X_encoded.columns = one_hot_encoder.get_feature_names_out(categorical_columns_one_hot)  # Naming the columns

# Drop original one-hot columns and concatenate encoded columns
X = X.drop(columns=categorical_columns_one_hot).reset_index(drop=True)
X = pd.concat([X, X_encoded], axis=1)

In [46]:
import joblib
# 'one_hot_encoder' is the object you fit to your data
joblib.dump(one_hot_encoder, 'one_hot_encoder.pkl')

['one_hot_encoder.pkl']

### SCALING

In [24]:
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
# Scale numerical columns
scaler = MinMaxScaler()
X[numerical_columns] = scaler.fit_transform(X[numerical_columns])

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((5705, 356), (2445, 356), (5705,), (2445,))

In [26]:
X_train.head()

,seats,kms,modelYear,ownerNo,engine_cc,Gearbox,Mileage,bodytype,fueltype_Diesel,fueltype_Electric,...,model_Volkswagen Vento,model_Volkswagen Virtus,model_Volvo S 80,model_Volvo S60,model_Volvo S60 Cross Country,model_Volvo S90,model_Volvo V40,model_Volvo XC 90,model_Volvo XC40,model_Volvo XC60
2045,0.375,0.270135,0.750000,0.2,0.227076,0.166667,0.419763,2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2937,0.375,0.226923,0.714286,0.2,0.447782,0.500000,0.405592,7,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
462,0.375,0.230769,0.678571,0.4,0.362912,0.500000,0.289544,2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1956,0.375,0.313415,0.642857,0.2,0.340842,0.166667,0.467254,2,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2445,0.375,0.038462,0.642857,0.2,0.272355,0.166667,0.419763,2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
### LINEAR REGRESSION MODEL

In [28]:
from sklearn.linear_model import LinearRegression

# Initialize the model
models = LinearRegression()

# Fit the model on the training data
models.fit(X_train, y_train)

# Optionally, you can make predictions on the test set
y_pred = models.predict(X_test)

# Display predictions (optional)
y_pred

array([264484., 673283., 665298., ..., 363230., 406873., 525976.])

In [29]:
from sklearn import metrics
import numpy as np
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Calculate evaluation metrics
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

# for evaluation / accuracy--  prediction + y_test
# Display the results
print(f"Mean Absolute Error (MAE): {mae:f}")
print(f"Mean Squared Error (MSE): {mse:.2f}")
print(f"R-squared: {r2:.4f}")
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error (MAE): 38934920080255.765625
Mean Squared Error (MSE): 236020282360473771515584708608.00
R-squared: -267773910326791584.0000
Root Mean Squared Error: 485819186900305.3

### RANDOM FOREST

In [30]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score


model = RandomForestRegressor(random_state=42,n_estimators=350,max_depth=50)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')
print('root mean square :',r2_score(y_test, y_pred))
a=mean_absolute_error(y_test, y_pred)
print(f"Mean Absolute Error (MAE): {a:.2f}")
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Squared Error: 2.3602028236047377e+29
root mean square : 0.9077382932690063
Mean Absolute Error (MAE): 124507.40
Root Mean Squared Error: 285168.31835865206

In [31]:
importances = model.feature_importances_
feature_importances = pd.DataFrame({'Feature': X.columns, 'Importance': importances})
feature_importances = feature_importances.sort_values(by='Importance', ascending=False)
feature_importances

                     Feature  Importance
5                    Gearbox    0.584917
2                  modelYear    0.148969
4                  engine_cc    0.105464
1                        kms    0.025429
6                    Mileage    0.023514
..                       ...         ...
277   model_Porsche Panamera    0.000000
77      model_Chevrolet Aveo    0.000000
315    model_Tata Sumo Victa    0.000000
61   model_Audi Q3 Sportback    0.000000
66        model_BMW 2 Series    0.000000

[356 rows x 2 columns]

### XG BOOST

In [32]:
import xgboost as xgb
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np
import joblib

# Assuming X and y are your features and target variable

# Create the XGBoost model
xgb_model = xgb.XGBRegressor(random_state=42)

# Define the hyperparameters to tune
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [3, 4, 5, 6],
    'learning_rate': [0.01, 0.1, 0.3],
    'subsample': [0.8, 0.9, 1.0],
    'colsample_bytree': [0.8, 0.9, 1.0],
    'gamma': [0, 0.1, 0.2]
}

# Set up GridSearchCV
grid_search = GridSearchCV(estimator=xgb_model, param_grid=param_grid, 
                           cv=5, n_jobs=-1, verbose=2, scoring='r2')

# Fit the grid search
grid_search.fit(X_train, y_train)

# Get the best parameters and model
best_params = grid_search.best_params_
best_model = grid_search.best_estimator_

# Make predictions with the best model
y_pred = best_model.predict(X_test)

# Calculate metrics
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
rmse = np.sqrt(mse)

# Print results
print("XGBoost Tuned Results:")
print(f"Best Parameters: {best_params}")
print(f"Mean Squared Error: {mse:.4f}")
print(f"R-squared Score: {r2:.4f}")
print(f"Root Mean Squared Error: {rmse:.4f}")

Fitting 5 folds for each of 972 candidates, totalling 4860 fits
XGBoost Tuned Results:
Best Parameters: {'colsample_bytree': 0.9, 'gamma': 0, 'learning_rate': 0.3, 'max_depth': 4, 'n_estimators': 300, 'subsample': 0.9}
Mean Squared Error: 52498864381.7070
R-squared Score: 0.9404
Root Mean Squared Error: 229126.3066

### Gradient boosting

In [33]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
import numpy as np

# Assuming X and y are your features and target variable

# Create and train the Gradient Boosting model
gb_model = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, max_depth=3, random_state=42)
gb_model.fit(X_train, y_train)

# Make predictions
y_pred = gb_model.predict(X_test)

# Calculate metrics
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mse)

# Print results
print("Gradient Boosting Regressor Results:")
print(f"Mean Squared Error: {mse:.4f}")
print(f"R-squared Score: {r2:.4f}")
print(f"Mean Absolute Error: {mae:.4f}")
print(f"Root Mean Squared Error: {rmse:.4f}")

Gradient Boosting Regressor Results:
Mean Squared Error: 100756324261.6601
R-squared Score: 0.8857
Mean Absolute Error: 163107.3804
Root Mean Squared Error: 317421.3671

In [34]:
# Feature importance
feature_importance = gb_model.feature_importances_
for i, importance in enumerate(feature_importance):
    print(f"Feature {X.columns[i]}: {importance:.4f}")

Feature seats: 0.0025
Feature kms: 0.0201
Feature modelYear: 0.1745
Feature ownerNo: 0.0008
Feature engine_cc: 0.1946
Feature Gearbox: 0.5068
Feature Mileage: 0.0042
Feature bodytype: 0.0122
Feature fueltype_Diesel: 0.0003
Feature fueltype_Electric: 0.0002
Feature fueltype_LPG: 0.0000
Feature fueltype_Petrol: 0.0004
Feature transmission_Manual: 0.0159
Feature Insurance_Not Available: 0.0001
Feature Insurance_Third Party: 0.0018
Feature Insurance_Zero Dep: 0.0000
Feature oem_BMW: 0.0021
Feature oem_Chevrolet: 0.0000
Feature oem_Citroen: 0.0000
Feature oem_Datsun: 0.0001
Feature oem_Fiat: 0.0000
Feature oem_Ford: 0.0000
Feature oem_Hindustan Motors: 0.0000
Feature oem_Honda: 0.0000
Feature oem_Hyundai: 0.0000
Feature oem_Isuzu: 0.0000
Feature oem_Jaguar: 0.0000
Feature oem_Jeep: 0.0000
Feature oem_Kia: 0.0000
Feature oem_Land Rover: 0.0015
Feature oem_Lexus: 0.0012
Feature oem_MG: 0.0010
Feature oem_Mahindra: 0.0056
Feature oem_Maruti: 0.0000
Feature oem_Mercedes-Benz: 0.0163
Feature oem_Mini: 0.0001
Feature oem_Mitsubishi: 0.0000
Feature oem_Nissan: 0.0000
Feature oem_Opel: 0.0000
Feature oem_Porsche: 0.0002
Feature oem_Renault: 0.0001
Feature oem_Skoda: 0.0000
Feature oem_Ssangyong: 0.0000
Feature oem_Tata: 0.0001
Feature oem_Toyota: 0.0000
Feature oem_Volkswagen: 0.0000
Feature oem_Volvo: 0.0000
Feature DriveType_AWD: 0.0038
Feature DriveType_FWD: 0.0041
Feature DriveType_RWD: 0.0001
Feature city_Chennai: 0.0001
Feature city_Delhi: 0.0002
Feature city_Hyderabad: 0.0001
Feature city_Jaipur: 0.0002
Feature city_Kolkata: 0.0027
Feature model_Audi A3: 0.0005
Feature model_Audi A3 cabriolet: 0.0000
Feature model_Audi A4: 0.0000
Feature model_Audi A6: 0.0001
Feature model_Audi Q2: 0.0000
Feature model_Audi Q3: 0.0000
Feature model_Audi Q3 Sportback: 0.0000
Feature model_Audi Q5: 0.0017
Feature model_Audi Q7: 0.0000
Feature model_Audi S5 Sportback: 0.0000
Feature model_BMW 1 Series: 0.0000
Feature model_BMW 2 Series: 0.0000
Feature model_BMW 3 Series: 0.0000
Feature model_BMW 3 Series GT: 0.0000
Feature model_BMW 3 Series Gran Limousine: 0.0008
Feature model_BMW 5 Series: 0.0011
Feature model_BMW 6 Series: 0.0007
Feature model_BMW 7 Series: 0.0000
Feature model_BMW X1: 0.0002
Feature model_BMW X3: 0.0000
Feature model_BMW X4: 0.0003
Feature model_BMW X5: 0.0000
Feature model_Chevrolet Aveo: 0.0000
Feature model_Chevrolet Aveo U-VA: 0.0000
Feature model_Chevrolet Beat: 0.0000
Feature model_Chevrolet Captiva: 0.0000
Feature model_Chevrolet Cruze: 0.0000
Feature model_Chevrolet Enjoy: 0.0000
Feature model_Chevrolet Optra: 0.0000
Feature model_Chevrolet Sail: 0.0000
Feature model_Chevrolet Spark: 0.0000
Feature model_Chevrolet Tavera: 0.0000
Feature model_Citroen C3: 0.0000
Feature model_Citroen C5 Aircross: 0.0002
Feature model_Datsun GO: 0.0000
Feature model_Datsun GO Plus: 0.0000
Feature model_Datsun RediGO: 0.0000
Feature model_Fiat Abarth Avventura: 0.0000
Feature model_Fiat Avventura: 0.0000
Feature model_Fiat Grande Punto: 0.0000
Feature model_Fiat Linea: 0.0000
Feature model_Fiat Palio: 0.0000
Feature model_Fiat Punto: 0.0000
Feature model_Fiat Punto Abarth: 0.0000
Feature model_Fiat Punto EVO: 0.0000
Feature model_Fiat Punto Pure: 0.0000
Feature model_Ford Aspire: 0.0000
Feature model_Ford Ecosport: 0.0000
Feature model_Ford Endeavour: 0.0000
Feature model_Ford Fiesta: 0.0000
Feature model_Ford Fiesta Classic: 0.0000
Feature model_Ford Figo: 0.0000
Feature model_Ford Freestyle: 0.0000
Feature model_Ford Ikon: 0.0000
Feature model_Ford Mondeo: 0.0000
Feature model_Hindustan Motors Contessa: 0.0000
Feature model_Honda Amaze: 0.0000
Feature model_Honda BR-V: 0.0000
Feature model_Honda Brio: 0.0000
Feature model_Honda CR-V: 0.0000
Feature model_Honda City: 0.0000
Feature model_Honda City Hybrid: 0.0000
Feature model_Honda Civic: 0.0000
Feature model_Honda Jazz: 0.0000
Feature model_Honda Mobilio: 0.0000
Feature model_Honda New Accord: 0.0000
Feature model_Honda WR-V: 0.0000
Feature model_Hyundai Accent: 0.0000
Feature model_Hyundai Alcazar: 0.0000
Feature model_Hyundai Aura: 0.0000
Feature model_Hyundai Creta: 0.0003
Feature model_Hyundai EON: 0.0000
Feature model_Hyundai Elantra: 0.0000
Feature model_Hyundai Getz: 0.0000
Feature model_Hyundai Grand i10: 0.0000
Feature model_Hyundai Grand i10 Nios: 0.0000
Feature model_Hyundai Kona: 0.0000
Feature model_Hyundai Santa Fe: 0.0000
Feature model_Hyundai Santro: 0.0000
Feature model_Hyundai Santro Xing: 0.0000
Feature model_Hyundai Sonata: 0.0000
Feature model_Hyundai Tucson: 0.0000
Feature model_Hyundai Venue: 0.0000
Feature model_Hyundai Verna: 0.0000
Feature model_Hyundai Xcent: 0.0000
Feature model_Hyundai Xcent Prime: 0.0000
Feature model_Hyundai i10: 0.0000
Feature model_Hyundai i20: 0.0000
Feature model_Hyundai i20 Active: 0.0000
Feature model_Hyundai i20 N Line: 0.0000
Feature model_Isuzu D-Max: 0.0000
Feature model_Isuzu MU 7: 0.0000
Feature model_Isuzu MU-X: 0.0000
Feature model_Jaguar F-Pace: 0.0006
Feature model_Jaguar F-TYPE: 0.0004
Feature model_Jaguar XE: 0.0001
Feature model_Jaguar XF: 0.0000
Feature model_Jaguar XJ: 0.0007
Feature model_Jeep Compass: 0.0000
Feature model_Jeep Compass Trailhawk: 0.0000
Feature model_Jeep Meridian: 0.0000
Feature model_Jeep Wrangler: 0.0022
Feature model_Kia Carens: 0.0000
Feature model_Kia Carnival: 0.0013
Feature model_Kia Seltos: 0.0001
Feature model_Kia Sonet: 0.0000
Feature model_Land Rover Discovery: 0.0000
Feature model_Land Rover Discovery Sport: 0.0000
Feature model_Land Rover Freelander 2: 0.0000
Feature model_Land Rover Range Rover Evoque: 0.0010
Feature model_Land Rover Range Rover Sport: 0.0015
Feature model_Land Rover Range Rover Velar: 0.0000
Feature model_Lexus ES: 0.0027
Feature model_Lexus RX: 0.0000
Feature model_MG Astor: 0.0001
Feature model_MG Comet EV: 0.0000
Feature model_MG Gloster: 0.0000
Feature model_MG Hector: 0.0000
Feature model_MG Hector Plus: 0.0000
Feature model_MG ZS EV: 0.0001
Feature model_Mahindra Alturas G4: 0.0000
Feature model_Mahindra Bolero: 0.0000
Feature model_Mahindra Bolero Camper: 0.0000
Feature model_Mahindra Bolero Neo: 0.0000
Feature model_Mahindra Bolero Pik Up Extra Long: 0.0000
Feature model_Mahindra Bolero Power Plus: 0.0000
Feature model_Mahindra E Verito: 0.0000
Feature model_Mahindra Jeep: 0.0000
Feature model_Mahindra KUV 100: 0.0000
Feature model_Mahindra KUV 100 NXT: 0.0000
Feature model_Mahindra Marazzo: 0.0000
Feature model_Mahindra Quanto: 0.0000
Feature model_Mahindra Renault Logan: 0.0000
Feature model_Mahindra Scorpio: 0.0000
Feature model_Mahindra Scorpio Classic: 0.0000
Feature model_Mahindra Scorpio N: 0.0000
Feature model_Mahindra Ssangyong Rexton: 0.0000
Feature model_Mahindra TUV 300: 0.0000
Feature model_Mahindra TUV 300 Plus: 0.0000
Feature model_Mahindra Thar: 0.0002
Feature model_Mahindra Verito: 0.0000
Feature model_Mahindra XUV300: 0.0000
Feature model_Mahindra XUV500: 0.0000
Feature model_Mahindra XUV700: 0.0003
Feature model_Mahindra Xylo: 0.0000
Feature model_Maruti 1000: 0.0000
Feature model_Maruti 800: 0.0000
Feature model_Maruti A-Star: 0.0000
Feature model_Maruti Alto: 0.0000
Feature model_Maruti Alto 800: 0.0000
Feature model_Maruti Alto K10: 0.0000
Feature model_Maruti Baleno: 0.0001
Feature model_Maruti Baleno RS: 0.0000
Feature model_Maruti Brezza: 0.0000
Feature model_Maruti Celerio: 0.0000
Feature model_Maruti Celerio Tour 2018-2021: 0.0000
Feature model_Maruti Celerio X: 0.0000
Feature model_Maruti Ciaz: 0.0000
Feature model_Maruti Eeco: 0.0000
Feature model_Maruti Ertiga: 0.0000
Feature model_Maruti Ertiga Tour: 0.0000
Feature model_Maruti Esteem: 0.0000
Feature model_Maruti Estilo: 0.0000
Feature model_Maruti FRONX: 0.0000
Feature model_Maruti Grand Vitara: 0.0000
Feature model_Maruti Gypsy: 0.0000
Feature model_Maruti Ignis: 0.0000
Feature model_Maruti Jimny: 0.0000
Feature model_Maruti Omni: 0.0000
Feature model_Maruti Ritz: 0.0000
Feature model_Maruti S-Presso: 0.0000
Feature model_Maruti SX4: 0.0000
Feature model_Maruti SX4 S Cross: 0.0000
Feature model_Maruti Swift: 0.0000
Feature model_Maruti Swift Dzire: 0.0000
Feature model_Maruti Swift Dzire Tour: 0.0000
Feature model_Maruti Versa: 0.0000
Feature model_Maruti Vitara Brezza: 0.0000
Feature model_Maruti Wagon R: 0.0000
Feature model_Maruti Wagon R Stingray: 0.0000
Feature model_Maruti XL6: 0.0000
Feature model_Maruti Zen: 0.0000
Feature model_Maruti Zen Estilo: 0.0000
Feature model_Mercedes-Benz A Class: 0.0000
Feature model_Mercedes-Benz A-Class Limousine: 0.0000
Feature model_Mercedes-Benz AMG A 35: 0.0002
Feature model_Mercedes-Benz AMG GLA 35: 0.0000
Feature model_Mercedes-Benz B Class: 0.0000
Feature model_Mercedes-Benz C-Class: 0.0017
Feature model_Mercedes-Benz CLA: 0.0000
Feature model_Mercedes-Benz CLS-Class: 0.0006
Feature model_Mercedes-Benz E-Class: 0.0009
Feature model_Mercedes-Benz GL-Class: 0.0000
Feature model_Mercedes-Benz GLA: 0.0000
Feature model_Mercedes-Benz GLA Class: 0.0001
Feature model_Mercedes-Benz GLC: 0.0003
Feature model_Mercedes-Benz GLC Coupe: 0.0000
Feature model_Mercedes-Benz GLE: 0.0000
Feature model_Mercedes-Benz GLS: 0.0001
Feature model_Mercedes-Benz M-Class: 0.0000
Feature model_Mercedes-Benz S-Class: 0.0000
Feature model_Mercedes-Benz SLC: 0.0000
Feature model_Mini 3 DOOR: 0.0001
Feature model_Mini 5 DOOR: 0.0000
Feature model_Mini Cooper: 0.0000
Feature model_Mini Cooper Clubman: 0.0000
Feature model_Mini Cooper Convertible: 0.0000
Feature model_Mini Cooper Countryman: 0.0000
Feature model_Mini Cooper SE: 0.0000
Feature model_Mitsubishi Cedia: 0.0000
Feature model_Mitsubishi Lancer: 0.0000
Feature model_Mitsubishi Outlander: 0.0000
Feature model_Mitsubishi Pajero: 0.0000
Feature model_Nissan Kicks: 0.0000
Feature model_Nissan Magnite: 0.0000
Feature model_Nissan Micra: 0.0000
Feature model_Nissan Micra Active: 0.0000
Feature model_Nissan Sunny: 0.0000
Feature model_Nissan Terrano: 0.0000
Feature model_OpelCorsa: 0.0000
Feature model_Porsche Cayenne: 0.0000
Feature model_Porsche Macan: 0.0000
Feature model_Porsche Panamera: 0.0000
Feature model_Renault Captur: 0.0000
Feature model_Renault Duster: 0.0000
Feature model_Renault Fluence: 0.0000
Feature model_Renault KWID: 0.0000
Feature model_Renault Kiger: 0.0000
Feature model_Renault Lodgy: 0.0000
Feature model_Renault Pulse: 0.0000
Feature model_Renault Scala: 0.0000
Feature model_Renault Triber: 0.0000
Feature model_Skoda Fabia: 0.0000
Feature model_Skoda Kodiaq: 0.0000
Feature model_Skoda Kushaq: 0.0000
Feature model_Skoda Laura: 0.0000
Feature model_Skoda Octavia: 0.0000
Feature model_Skoda Rapid: 0.0000
Feature model_Skoda Slavia: 0.0000
Feature model_Skoda Superb: 0.0000
Feature model_Skoda Yeti: 0.0000
Feature model_Tata Altroz: 0.0000
Feature model_Tata Aria: 0.0000
Feature model_Tata Bolt: 0.0000
Feature model_Tata Harrier: 0.0000
Feature model_Tata Hexa: 0.0000
Feature model_Tata Indica: 0.0000
Feature model_Tata Indica V2: 0.0000
Feature model_Tata Indigo: 0.0000
Feature model_Tata Indigo Marina: 0.0000
Feature model_Tata Manza: 0.0000
Feature model_Tata Nano: 0.0000
Feature model_Tata New Safari: 0.0000
Feature model_Tata Nexon: 0.0000
Feature model_Tata Nexon EV: 0.0000
Feature model_Tata Nexon EV Max: 0.0000
Feature model_Tata Nexon EV Prime: 0.0000
Feature model_Tata Punch: 0.0000
Feature model_Tata Safari Storme: 0.0000
Feature model_Tata Sumo: 0.0000
Feature model_Tata Sumo Victa: 0.0000
Feature model_Tata Tiago: 0.0000
Feature model_Tata Tiago NRG: 0.0000
Feature model_Tata Tigor: 0.0000
Feature model_Tata Tigor EV: 0.0000
Feature model_Tata Yodha Pickup: 0.0001
Feature model_Tata Zest: 0.0000
Feature model_Toyota Camry: 0.0000
Feature model_Toyota Corolla: 0.0000
Feature model_Toyota Corolla Altis: 0.0000
Feature model_Toyota Etios: 0.0000
Feature model_Toyota Etios Cross: 0.0000
Feature model_Toyota Etios Liva: 0.0000
Feature model_Toyota Fortuner: 0.0014
Feature model_Toyota Fortuner Legender: 0.0000
Feature model_Toyota Glanza: 0.0000
Feature model_Toyota Hyryder: 0.0000
Feature model_Toyota Innova: 0.0000
Feature model_Toyota Innova Crysta: 0.0005
Feature model_Toyota Qualis: 0.0000
Feature model_Toyota Urban cruiser: 0.0000
Feature model_Toyota Yaris: 0.0000
Feature model_Volkswagen Ameo: 0.0000
Feature model_Volkswagen CrossPolo: 0.0000
Feature model_Volkswagen Jetta: 0.0000
Feature model_Volkswagen Passat: 0.0000
Feature model_Volkswagen Polo: 0.0000
Feature model_Volkswagen T-Roc: 0.0000
Feature model_Volkswagen Taigun: 0.0000
Feature model_Volkswagen Tiguan: 0.0000
Feature model_Volkswagen Tiguan Allspace: 0.0000
Feature model_Volkswagen Vento: 0.0000
Feature model_Volkswagen Virtus: 0.0000
Feature model_Volvo S 80: 0.0000
Feature model_Volvo S60: 0.0000
Feature model_Volvo S60 Cross Country: 0.0000
Feature model_Volvo S90: 0.0000
Feature model_Volvo V40: 0.0000
Feature model_Volvo XC 90: 0.0011
Feature model_Volvo XC40: 0.0000
Feature model_Volvo XC60: 0.0015

### Comparison

In [35]:
from sklearn.linear_model import LinearRegression, ElasticNet
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import xgboost as xgb

def compare_models(X, y):
    # Split the data first
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
    
    # Scale the features using MinMaxScaler
    scaler = MinMaxScaler()
    X_train_scaled = scaler.fit_transform(X_train)
    X_test_scaled = scaler.transform(X_test)
    
    # Initialize models
    models = {
        'Linear Regression': LinearRegression(),
        'Random Forest': RandomForestRegressor(random_state=42),
        'XGBoost': xgb.XGBRegressor(random_state=42, colsample_bytree=1.0, gamma=0, learning_rate=0.3, max_depth=5, n_estimators=300, subsample=0.8),
        'Gradient Boosting': GradientBoostingRegressor(random_state=42),
        
    }
    
    # Dictionary to store results
    results = {}
    
    for name, model in models.items():
        # Train the model
        model.fit(X_train_scaled, y_train)
        y_pred = model.predict(X_test_scaled)
        
        # Calculate metrics
        mse = mean_squared_error(y_test, y_pred)
        r2 = r2_score(y_test, y_pred)
        mae = mean_absolute_error(y_test, y_pred)
        rmse = np.sqrt(mse)
        
        # Store results
        results[name] = {
            'MSE': mse,
            'R2': r2,
            'MAE': mae,
            'RMSE': rmse
        }
    
    # Print results
    for name, metrics in results.items():
        print(f"\n{name} Results:")
        for metric, value in metrics.items():
            print(f"{metric}: {value:.4f}")
    
    # Determine the best model
    best_model = max(results, key=lambda x: results[x]['R2'])
    print(f"\nBest model based on R2 score: {best_model}")
    
    return results

# Usage
results = compare_models(X, y)

Linear Regression Results:
MSE: 7415174124718080425570793947136.0000
R2: -8412794660152183808.0000
MAE: 195220955496658.7500
RMSE: 2723081733021996.5000

Random Forest Results:
MSE: 83583902086.4017
R2: 0.9052
MAE: 125632.1266
RMSE: 289108.8067

XGBoost Results:
MSE: 55100127601.7085
R2: 0.9375
MAE: 108742.8052
RMSE: 234734.1637

Gradient Boosting Results:
MSE: 100756324261.6601
R2: 0.8857
MAE: 163107.3804
RMSE: 317421.3671

Best model based on R2 score: XGBoost

### MODEL PICKLING

In [36]:
from sklearn.preprocessing import MinMaxScaler
import joblib


joblib.dump(scaler, 'scaler.pkl')  # Save the scaler

['scaler.pkl']

In [37]:
import joblib

joblib.dump(models, 'linarreg.pkl')
#joblib.dump(model, 'xgb_model.pkl')

['linarreg.pkl']

In [38]:
import joblib

joblib.dump(model, 'randomforest.pkl')
#joblib.dump(model, 'xgb_model.pkl')

['randomforest.pkl']

In [39]:
import joblib

joblib.dump(best_model, 'best_xgb_model.pkl')
#joblib.dump(model, 'xgb_model.pkl')

['best_xgb_model.pkl']

In [40]:
import joblib

joblib.dump(gb_model, 'gradientboost.pkl')
#joblib.dump(model, 'xgb_model.pkl')

['gradientboost.pkl']

In [ ]:
#import pickle

# # ... (your existing code for encoding categorical data)

 # Pickle each dictionary separately
#for dictionary_name, dictionary in [("d_city", d_city), ("d_bodytype", d_bodytype), ("d_fueltype", d_fueltype), ("d_oem", d_oem), ("d_Insurance", d_Insurance), ("d_DriveType", d_drivetype), ("d_transmission", d_transmission), ("d_transmission", d_transmission)]:
     #filename = f"{dictionary_name}.pkl"
     #with open(filename, "wb") as f:
        #pickle.dump(dictionary, f)

In [41]:
print(model.feature_names_in_)

['seats' 'kms' 'modelYear' 'ownerNo' 'engine_cc' 'Gearbox' 'Mileage'
 'bodytype' 'fueltype_Diesel' 'fueltype_Electric' 'fueltype_LPG'
 'fueltype_Petrol' 'transmission_Manual' 'Insurance_Not Available'
 'Insurance_Third Party' 'Insurance_Zero Dep' 'oem_BMW' 'oem_Chevrolet'
 'oem_Citroen' 'oem_Datsun' 'oem_Fiat' 'oem_Ford' 'oem_Hindustan Motors'
 'oem_Honda' 'oem_Hyundai' 'oem_Isuzu' 'oem_Jaguar' 'oem_Jeep' 'oem_Kia'
 'oem_Land Rover' 'oem_Lexus' 'oem_MG' 'oem_Mahindra' 'oem_Maruti'
 'oem_Mercedes-Benz' 'oem_Mini' 'oem_Mitsubishi' 'oem_Nissan' 'oem_Opel'
 'oem_Porsche' 'oem_Renault' 'oem_Skoda' 'oem_Ssangyong' 'oem_Tata'
 'oem_Toyota' 'oem_Volkswagen' 'oem_Volvo' 'DriveType_AWD' 'DriveType_FWD'
 'DriveType_RWD' 'city_Chennai' 'city_Delhi' 'city_Hyderabad'
 'city_Jaipur' 'city_Kolkata' 'model_Audi A3' 'model_Audi A3 cabriolet'
 'model_Audi A4' 'model_Audi A6' 'model_Audi Q2' 'model_Audi Q3'
 'model_Audi Q3 Sportback' 'model_Audi Q5' 'model_Audi Q7'
 'model_Audi S5 Sportback' 'model_BMW 1 Series' 'model_BMW 2 Series'
 'model_BMW 3 Series' 'model_BMW 3 Series GT'
 'model_BMW 3 Series Gran Limousine' 'model_BMW 5 Series'
 'model_BMW 6 Series' 'model_BMW 7 Series' 'model_BMW X1' 'model_BMW X3'
 'model_BMW X4' 'model_BMW X5' 'model_Chevrolet Aveo'
 'model_Chevrolet Aveo U-VA' 'model_Chevrolet Beat'
 'model_Chevrolet Captiva' 'model_Chevrolet Cruze' 'model_Chevrolet Enjoy'
 'model_Chevrolet Optra' 'model_Chevrolet Sail' 'model_Chevrolet Spark'
 'model_Chevrolet Tavera' 'model_Citroen C3' 'model_Citroen C5 Aircross'
 'model_Datsun GO' 'model_Datsun GO Plus' 'model_Datsun RediGO'
 'model_Fiat Abarth Avventura' 'model_Fiat Avventura'
 'model_Fiat Grande Punto' 'model_Fiat Linea' 'model_Fiat Palio'
 'model_Fiat Punto' 'model_Fiat Punto Abarth' 'model_Fiat Punto EVO'
 'model_Fiat Punto Pure' 'model_Ford Aspire' 'model_Ford Ecosport'
 'model_Ford Endeavour' 'model_Ford Fiesta' 'model_Ford Fiesta Classic'
 'model_Ford Figo' 'model_Ford Freestyle' 'model_Ford Ikon'
 'model_Ford Mondeo' 'model_Hindustan Motors Contessa' 'model_Honda Amaze'
 'model_Honda BR-V' 'model_Honda Brio' 'model_Honda CR-V'
 'model_Honda City' 'model_Honda City Hybrid' 'model_Honda Civic'
 'model_Honda Jazz' 'model_Honda Mobilio' 'model_Honda New Accord'
 'model_Honda WR-V' 'model_Hyundai Accent' 'model_Hyundai Alcazar'
 'model_Hyundai Aura' 'model_Hyundai Creta' 'model_Hyundai EON'
 'model_Hyundai Elantra' 'model_Hyundai Getz' 'model_Hyundai Grand i10'
 'model_Hyundai Grand i10 Nios' 'model_Hyundai Kona'
 'model_Hyundai Santa Fe' 'model_Hyundai Santro'
 'model_Hyundai Santro Xing' 'model_Hyundai Sonata' 'model_Hyundai Tucson'
 'model_Hyundai Venue' 'model_Hyundai Verna' 'model_Hyundai Xcent'
 'model_Hyundai Xcent Prime' 'model_Hyundai i10' 'model_Hyundai i20'
 'model_Hyundai i20 Active' 'model_Hyundai i20 N Line' 'model_Isuzu D-Max'
 'model_Isuzu MU 7' 'model_Isuzu MU-X' 'model_Jaguar F-Pace'
 'model_Jaguar F-TYPE' 'model_Jaguar XE' 'model_Jaguar XF'
 'model_Jaguar XJ' 'model_Jeep Compass' 'model_Jeep Compass Trailhawk'
 'model_Jeep Meridian' 'model_Jeep Wrangler' 'model_Kia Carens'
 'model_Kia Carnival' 'model_Kia Seltos' 'model_Kia Sonet'
 'model_Land Rover Discovery' 'model_Land Rover Discovery Sport'
 'model_Land Rover Freelander 2' 'model_Land Rover Range Rover Evoque'
 'model_Land Rover Range Rover Sport' 'model_Land Rover Range Rover Velar'
 'model_Lexus ES' 'model_Lexus RX' 'model_MG Astor' 'model_MG Comet EV'
 'model_MG Gloster' 'model_MG Hector' 'model_MG Hector Plus'
 'model_MG ZS EV' 'model_Mahindra Alturas G4' 'model_Mahindra Bolero'
 'model_Mahindra Bolero Camper' 'model_Mahindra Bolero Neo'
 'model_Mahindra Bolero Pik Up Extra Long'
 'model_Mahindra Bolero Power Plus' 'model_Mahindra E Verito'
 'model_Mahindra Jeep' 'model_Mahindra KUV 100'
 'model_Mahindra KUV 100 NXT' 'model_Mahindra Marazzo'
 'model_Mahindra Quanto' 'model_Mahindra Renault Logan'
 'model_Mahindra Scorpio' 'model_Mahindra Scorpio Classic'
 'model_Mahindra Scorpio N' 'model_Mahindra Ssangyong Rexton'
 'model_Mahindra TUV 300' 'model_Mahindra TUV 300 Plus'
 'model_Mahindra Thar' 'model_Mahindra Verito' 'model_Mahindra XUV300'
 'model_Mahindra XUV500' 'model_Mahindra XUV700' 'model_Mahindra Xylo'
 'model_Maruti 1000' 'model_Maruti 800' 'model_Maruti A-Star'
 'model_Maruti Alto' 'model_Maruti Alto 800' 'model_Maruti Alto K10'
 'model_Maruti Baleno' 'model_Maruti Baleno RS' 'model_Maruti Brezza'
 'model_Maruti Celerio' 'model_Maruti Celerio Tour 2018-2021'
 'model_Maruti Celerio X' 'model_Maruti Ciaz' 'model_Maruti Eeco'
 'model_Maruti Ertiga' 'model_Maruti Ertiga Tour' 'model_Maruti Esteem'
 'model_Maruti Estilo' 'model_Maruti FRONX' 'model_Maruti Grand Vitara'
 'model_Maruti Gypsy' 'model_Maruti Ignis' 'model_Maruti Jimny'
 'model_Maruti Omni' 'model_Maruti Ritz' 'model_Maruti S-Presso'
 'model_Maruti SX4' 'model_Maruti SX4 S Cross' 'model_Maruti Swift'
 'model_Maruti Swift Dzire' 'model_Maruti Swift Dzire Tour'
 'model_Maruti Versa' 'model_Maruti Vitara Brezza' 'model_Maruti Wagon R'
 'model_Maruti Wagon R Stingray' 'model_Maruti XL6' 'model_Maruti Zen'
 'model_Maruti Zen Estilo' 'model_Mercedes-Benz A Class'
 'model_Mercedes-Benz A-Class Limousine' 'model_Mercedes-Benz AMG A 35'
 'model_Mercedes-Benz AMG GLA 35' 'model_Mercedes-Benz B Class'
 'model_Mercedes-Benz C-Class' 'model_Mercedes-Benz CLA'
 'model_Mercedes-Benz CLS-Class' 'model_Mercedes-Benz E-Class'
 'model_Mercedes-Benz GL-Class' 'model_Mercedes-Benz GLA'
 'model_Mercedes-Benz GLA Class' 'model_Mercedes-Benz GLC'
 'model_Mercedes-Benz GLC Coupe' 'model_Mercedes-Benz GLE'
 'model_Mercedes-Benz GLS' 'model_Mercedes-Benz M-Class'
 'model_Mercedes-Benz S-Class' 'model_Mercedes-Benz SLC'
 'model_Mini 3 DOOR' 'model_Mini 5 DOOR' 'model_Mini Cooper'
 'model_Mini Cooper Clubman' 'model_Mini Cooper Convertible'
 'model_Mini Cooper Countryman' 'model_Mini Cooper SE'
 'model_Mitsubishi Cedia' 'model_Mitsubishi Lancer'
 'model_Mitsubishi Outlander' 'model_Mitsubishi Pajero'
 'model_Nissan Kicks' 'model_Nissan Magnite' 'model_Nissan Micra'
 'model_Nissan Micra Active' 'model_Nissan Sunny' 'model_Nissan Terrano'
 'model_OpelCorsa' 'model_Porsche Cayenne' 'model_Porsche Macan'
 'model_Porsche Panamera' 'model_Renault Captur' 'model_Renault Duster'
 'model_Renault Fluence' 'model_Renault KWID' 'model_Renault Kiger'
 'model_Renault Lodgy' 'model_Renault Pulse' 'model_Renault Scala'
 'model_Renault Triber' 'model_Skoda Fabia' 'model_Skoda Kodiaq'
 'model_Skoda Kushaq' 'model_Skoda Laura' 'model_Skoda Octavia'
 'model_Skoda Rapid' 'model_Skoda Slavia' 'model_Skoda Superb'
 'model_Skoda Yeti' 'model_Tata Altroz' 'model_Tata Aria'
 'model_Tata Bolt' 'model_Tata Harrier' 'model_Tata Hexa'
 'model_Tata Indica' 'model_Tata Indica V2' 'model_Tata Indigo'
 'model_Tata Indigo Marina' 'model_Tata Manza' 'model_Tata Nano'
 'model_Tata New Safari' 'model_Tata Nexon' 'model_Tata Nexon EV'
 'model_Tata Nexon EV Max' 'model_Tata Nexon EV Prime' 'model_Tata Punch'
 'model_Tata Safari Storme' 'model_Tata Sumo' 'model_Tata Sumo Victa'
 'model_Tata Tiago' 'model_Tata Tiago NRG' 'model_Tata Tigor'
 'model_Tata Tigor EV' 'model_Tata Yodha Pickup' 'model_Tata Zest'
 'model_Toyota Camry' 'model_Toyota Corolla' 'model_Toyota Corolla Altis'
 'model_Toyota Etios' 'model_Toyota Etios Cross' 'model_Toyota Etios Liva'
 'model_Toyota Fortuner' 'model_Toyota Fortuner Legender'
 'model_Toyota Glanza' 'model_Toyota Hyryder' 'model_Toyota Innova'
 'model_Toyota Innova Crysta' 'model_Toyota Qualis'
 'model_Toyota Urban cruiser' 'model_Toyota Yaris' 'model_Volkswagen Ameo'
 'model_Volkswagen CrossPolo' 'model_Volkswagen Jetta'
 'model_Volkswagen Passat' 'model_Volkswagen Polo'
 'model_Volkswagen T-Roc' 'model_Volkswagen Taigun'
 'model_Volkswagen Tiguan' 'model_Volkswagen Tiguan Allspace'
 'model_Volkswagen Vento' 'model_Volkswagen Virtus' 'model_Volvo S 80'
 'model_Volvo S60' 'model_Volvo S60 Cross Country' 'model_Volvo S90'
 'model_Volvo V40' 'model_Volvo XC 90' 'model_Volvo XC40'
 'model_Volvo XC60']

In [42]:
X_train.head()

,seats,kms,modelYear,ownerNo,engine_cc,Gearbox,Mileage,bodytype,fueltype_Diesel,fueltype_Electric,...,model_Volkswagen Vento,model_Volkswagen Virtus,model_Volvo S 80,model_Volvo S60,model_Volvo S60 Cross Country,model_Volvo S90,model_Volvo V40,model_Volvo XC 90,model_Volvo XC40,model_Volvo XC60
2045,0.375,0.270135,0.750000,0.2,0.227076,0.166667,0.419763,2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2937,0.375,0.226923,0.714286,0.2,0.447782,0.500000,0.405592,7,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
462,0.375,0.230769,0.678571,0.4,0.362912,0.500000,0.289544,2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1956,0.375,0.313415,0.642857,0.2,0.340842,0.166667,0.467254,2,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2445,0.375,0.038462,0.642857,0.2,0.272355,0.166667,0.419763,2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0